<div class="root min-w-[1140px] bg-[#F6F6F7]">
    <div class="content_wrapper w-full h-[100vh] text-base max-w-[1520px] mx-auto ">
        <div class="w-full h-full flex ">
            <nav class="w-[250px] bg-white rounded-md relative text-custom-color-blue">
                <div class="w-full py-7 text-center text-[25px] text-blue-800 font-bold ">QNMotelMap</div>
                <ul class="text-custom-color-blue px-3" >
                    <li class="font-medium flex items-center p-5 rounded-md gap-2 cursor-pointer " routerLink="dashboard" routerLinkActive="active-router">
                        <i class='bx bxs-dashboard text-[25px]'></i>
                        <span>Dashboard</span>
                    </li>
                    <li class="font-medium flex items-center p-5 rounded-md gap-2 cursor-pointer " routerLink="motels" routerLinkActive="active-router">
                        <i class='bx bxs-home text-[25px]'></i>
                        <span>Nhà trọ</span>
                    </li>
                    <li class="font-medium flex items-center p-5 rounded-md gap-2 cursor-pointer " routerLink="rooms" routerLinkActive="active-router">
                        <i class='bx bxs-door-open text-[25px]'></i>
                        <span>Phòng trọ</span>
                    </li>
                    <li class="font-medium flex items-center p-5 rounded-md gap-2 cursor-pointer" routerLink="users" routerLinkActive="active-router">
                        <i class='bx bxs-user-rectangle text-[25px]' ></i>
                        <span>Người dùng</span>
                    </li>

                </ul>
                <div class="w-full px-3 py-5 absolute bottom-0">
                    <div class="font-medium w-full flex items-center gap-2 p-5 cursor-pointer hover:bg-[#e8eefd] rounded-md">
                        <i class='bx bx-log-in text-[25px]'></i>
                        <span>Đăng xuất</span>
                    </div>
                </div>
            </nav>
            <div class="main_content w-[calc(100%-250px)] h-full bg-[#F6F6F7] pl-5 flex flex-col gap-5">
                <div class="w-full">
                    <div class=" bg-white w-full flex justify-end rounded-md">
                        <div class="flex items-center gap-2 py-3 mr-5">
                            <div class="h-[45px] w-[45px] rounded-full border-2 border-white overflow-hidden">
                                <img class="w-full h-full object-cover" src="/assets/images/img-motel.jpg" alt="">
                            </div>
                            <div class="md:flex hidden flex-col mr-3 ">
                                <div class="text-[14px] h-[18px] flex items-center font-medium">Nguyễn Thanh Tuấn</div>
                                <div class="text-[12px] h-[16px] flex items-center font-semibold text-custom-color-black-light">tuan@gmail.com</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full h-full bg-white rounded-md ">
                    <router-outlet></router-outlet>  
                </div>
            </div>
        </div>
    </div>
</div>