<div class="root min-w-[1140px] bg-[#F6F6F7]">
    <div class="content_wrapper w-full h-[100vh] text-base max-w-[1520px] mx-auto ">
        <div class="w-full h-full flex ">
            <nav class="w-[250px] bg-white relative text-custom-color-black-light border-r-2">
                <div class="w-full py-7 text-center text-[24px] text-blue-800 font-bold ">QNMotelMap</div>
                <ul class="text-custom-color-black-light px-3" >
                    <li class="font-medium flex items-center p-5 rounded-md gap-2 cursor-pointer " routerLink="dashboard" routerLinkActive="active-router">
                        <i class='bx bxs-dashboard text-[25px]'></i>
                        <span>Dashboard</span>
                    </li>
                    <li class="font-medium flex items-center p-5 rounded-md gap-2 cursor-pointer " routerLink="motels" routerLinkActive="active-router">
                        <i class='bx bxs-home text-[25px]'></i>
                        <span>Nhà trọ</span>
                    </li>
                    <li class="font-medium flex items-center p-5 rounded-md gap-2 cursor-pointer " routerLink="rooms" routerLinkActive="active-router">
                        <i class='bx bxs-door-open text-[25px]'></i>
                        <span>Loại phòng</span>
                    </li>
                    <li class="font-medium flex items-center p-5 rounded-md gap-2 cursor-pointer" routerLink="users" routerLinkActive="active-router">
                        <i class='bx bxs-user-rectangle text-[25px]' ></i>
                        <span>Người dùng</span>
                    </li>
                    <li class="font-medium flex items-center p-5 rounded-md gap-2 cursor-pointer" routerLink="convenient" routerLinkActive="active-router">
                        <i class='bx bxs-store-alt text-[25px]' ></i>
                        <span>Tiện nghi</span>
                    </li>
                </ul>
                <div class="w-full px-3 py-5 absolute bottom-0">
                    <div class="font-medium w-full flex items-center gap-2 p-5 cursor-pointer hover:bg-[#e8eefd] rounded-md">
                        <i class='bx bx-log-in text-[25px]'></i>
                        <span>Đăng xuất</span>
                    </div>
                </div>
            </nav>
            <div class="main_content flex-1 h-full bg-[#fafafa] flex flex-col">
                <div class="w-full border-b-2 flex items-center justify-between">
                    <div class="w-1/2 flex flex-col ml-10">
                        <h2 class="text-[21px] font-bold tracking-wide">Wellcom Back</h2>
                        <p class="text-[15px] text-custom-color-black-light font-medium mt-1">Hello Nguyễn Thanh Tuấn</p>
                    </div>
                    <div class="w-1/2 flex justify-end py-2 ">
                        <div class="flex items-center gap-2 py-3 mr-5">
                            <div class="h-[45px] w-[45px] rounded-full border-2 border-white overflow-hidden">
                                <img class="w-full h-full object-cover" src="/assets/images/img-motel.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full h-full">
                    <router-outlet></router-outlet>  
                </div>
            </div>
        </div>
    </div>
</div>