<div class="content_wrapper w-full text-base px-3">
    <div class="flex max-w-custom mx-auto">
        <div class="filters_area min-w-[280px] max-w-[280px]">
            <div class="view_on_map w-full h-[150px] bg-cover bg-center bg-no-repeat rounded-lg flex flex-col justify-center gap-2"
                 style="background-image: url('/assets/images/map-entry-point.png');">
                <div class="w-full flex justify-center">
                    <i class='bx bxs-map text-custom-bg-blue-light text-[54px] hover:text-custom-bg-hover-blue'></i>
                </div>
                <div class="w-full flex justify-center">
                    <button class="h-9 px-3 py-1 bg-custom-bg-blue-light rounded-md hover:bg-custom-bg-hover-blue">
                        <span class="text-[14px] text-white font-medium ">Hiển thị trên bản đồ</span>
                    </button>
                </div>
            </div> <!--End view on map-->
            <div class="filters mt-2 border rounded-md border-[#e7e7e7]">
                <div class="p-2 text-[16px] text-custom-color-black font-bold border-b border-[#e7e7e7] ">Chọn lọc theo:</div>
                <div class="pt-3 pr-4 pb-2 pl-3 border-b border-[#e7e7e7]">
                    <div class="text-[14px] text-custom-color-black font-bold">Dùng các bộ lọc cũ</div>
                    <div class="ntt-custom-filter-field">
                        <div>
                           <input class="w-5 h-5" type="checkbox">
                        </div>
                        <div class="flex flex-col w-full">
                            <div class="ntt-custom-content-filter">
                                <div>Chỉ hiển thị nhà trọ còn trống</div>
                            </div>
                        </div>
                    </div>
                    <div class="ntt-custom-filter-field">
                        <div>
                           <input class="w-5 h-5" type="checkbox">
                        </div>
                        <div class="flex flex-col w-full">
                            <div class="ntt-custom-content-filter">
                                <div>Không chung chủ</div>
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                    <div class="ntt-custom-filter-field">
                        <div>
                           <input class="w-5 h-5" type="checkbox">
                        </div>
                        <div class="flex flex-col w-full">
                            <div class="ntt-custom-content-filter">
                                <div>Dưới 1 km</div>
                                <span>13</span>
                            </div>
                            <div class="h-[20px] text-[12px] text-custom-color-black-light">Khoảng cách từ địa chỉ tới trường</div>
                        </div>
                    </div> 
                </div>
                <div class=" pt-3 pr-4 pb-2 pl-3 border-b border-[#e7e7e7]">
                    <div class="text-[14px] text-custom-color-black font-bold">Ngân sách của bạn</div>
                    <div class="text-[14px] mt-2 text-custom-color-black-light font-normal">1.000.000 VND</div>
                    <div class="mb-4">
                        <input type="range" #price class="w-full h-[4px]" min="500000" max="5000000" step="100000">
                    </div>
                </div>
                <div class="pt-3 pr-4 pb-5 pl-3 ">
                    <div class="text-[14px] text-custom-color-black font-bold">Tiện nghi</div>
                    <div class="ntt-custom-filter-field">
                        <div>
                           <input class="w-5 h-5" type="checkbox">
                        </div>
                        <div class="flex flex-col w-full">
                            <div class="ntt-custom-content-filter">
                                <div>Gác lửng</div>
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                    <div class="ntt-custom-filter-field">
                        <div>
                           <input class="w-5 h-5" type="checkbox">
                        </div>
                        <div class="flex flex-col w-full">
                            <div class="ntt-custom-content-filter">
                                <div>Vệ sinh riêng</div>
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                    <div class="ntt-custom-filter-field">
                        <div>
                           <input class="w-5 h-5" type="checkbox">
                        </div>
                        <div class="flex flex-col w-full">
                            <div class="ntt-custom-content-filter">
                                <div>Chỗ nấu ăn</div>
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                    <div class="ntt-custom-filter-field">
                        <div>
                           <input class="w-5 h-5" type="checkbox">
                        </div>
                        <div class="flex flex-col w-full">
                            <div class="ntt-custom-content-filter">
                                <div>Điều hoà</div>
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div><!--End filters motels-->
        </div> <!--End filters area motels-->
        <div class="result w-[calc(100%-280px)]">
        </div> <!--End result motels-->
    </div>
</div> <!--End content wrapper-->
