
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}


input[type="range"]::-webkit-slider-runnable-track {
  background-color: transparent;
  border-radius: 0.5rem;
  height: 3.74px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  margin-top: -6.5px; 
  background-color: #006ce4;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px 6px #90c2fc91;
}


input[type="range"]::-moz-range-track {
  background-color: transparent;
  border-radius: 0.5rem;
  height: 3.74px;
}

input[type="range"]::-moz-range-thumb {
  border: none; 
  background-color: #006ce4;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0px 0px 0px 6px #90c2fc91;
} 


ngx-skeleton-loader {
  margin-bottom: 0 !important;
}

.sort:hover{
  background-color: #f2f2f2 !important;
}

:host ::ng-deep span.ant-checkbox-inner{
  border: 1px solid #a7a7a7;
  height:20px;
  width:20px;
}

:host ::ng-deep .ant-slider-track {
  background-color: #0095f1;
}
:host ::ng-deep .ant-slider-track:hover {
  background-color: #0095f1;
}

:host ::ng-deep .ant-slider-handle {
  border: 2px solid #0095f1;

}