
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}


input[type="range"]::-webkit-slider-runnable-track {
  background-color: transparent;
  border-radius: 0.5rem;
  height: 3.74px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  margin-top: -6.5px; 
  background-color: #006ce4;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px 6px #90c2fc91;
}


input[type="range"]::-moz-range-track {
  background-color: transparent;
  border-radius: 0.5rem;
  height: 3.74px;
}

input[type="range"]::-moz-range-thumb {
  border: none; 
  background-color: #006ce4;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0px 0px 0px 6px #90c2fc91;
} 


ngx-skeleton-loader {
  margin-bottom: 0 !important;
}

.sort:hover{
  background-color: #f2f2f2 !important;
}

:host ::ng-deep span.ant-checkbox-inner{
  border: 1px solid #a7a7a7;
  height:20px;
  width:20px;
}

:host ::ng-deep .ant-slider-track {
  background-color: #0095f1;
}
:host ::ng-deep .ant-slider-track:hover {
  background-color: #0095f1;
}

:host ::ng-deep .ant-slider-handle {
  border: 2px solid #0095f1;

}

:host ::ng-deep nz-dropdown-menu{
  width: 100%;
}

:host ::ng-deep .ant-slider-mark {
  display: flex;
  justify-content: space-between;
}

:host ::ng-deep .ant-slider-mark-text.ant-slider-mark-active.ng-star-inserted {
  all: unset; /* Loại bỏ tất cả các CSS hiện tại */
  transform:translate3d(0px, 0px, 0px) !important;
  color: '#535353' !important;
  font-size: 13px !important;
}

:host ::ng-deep span.ant-slider-mark-text.ng-star-inserted {
  white-space: nowrap;
  transform: translate3d(-100%, 0px, 0px) !important;
}

:host ::ng-deep span.ant-slider-mark-text.ng-star-inserted p{
  white-space: nowrap !important;
  font-size: 13px;
  color: #1A1A1A;
}

:host ::ng-deep .ant-radio-inner {
  width: 20px;
  height: 20px;
  border-color: #797a7e !important;
}

:host ::ng-deep .ant-radio-checked .ant-radio-inner {
  border-color: #1890ff !important;
  border-width: 2px;
}

:host ::ng-deep .ant-radio-inner::after {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}