<div class="content_wrapper w-full text-base">
    <div class="max-w-custom mx-auto ">
        <div class="w-full p-3 mt-5 relative min-w-[700px] ">
            <div *ngIf="listRooms.length === 0" class="text-[25px] font-semibold">Chưa có phòng trọ</div>
            <ul class="mt-5 w-full grid ml:grid-cols-4 md:grid-cols-3 grid-cols-3 gap-3 ">
                <li class="flex-1  rounded-xl mb-2 cursor-pointer" *ngFor="let room of listRooms">
                    <div class="w-full relative " >
                        <a routerLink="/client/home/detail-motel/{{idMotel}}/roomType/{{room._id}}" class="w-full group">
                            <div class="w-full aspect-[4/3.2]"> <!-- Giữ tỷ lệ 4:3 -->
                                <img class="w-full h-full rounded-tl-xl rounded-tr-xl object-cover" src="http://localhost:3000/resources/img-rooms/{{room.ListImages[0].LinkImage}}" alt="Hình ảnh về nhà trọ">
                            </div>
                            <div class="info p-3 ntt-shadow-motel-card rounded-bl-xl rounded-br-xl flex flex-col gap-2 group-hover:ntt-shadow-motel-card-hover transition-shadow duration-200">
                                <div>
                                    <div class=" text-[15px] text-custom-color-black-light font-medium flex gap-2">
                                        <div class="bg-[#f7f7f7] px-2 rounded-sm">Tầng {{room.Floor}}</div>
                                        <div title="Diện tích phòng" class="bg-[#f7f7f7] px-2 rounded-sm">{{room.Area}}m²</div>
                                    </div>
                                    <ul class="mt-2 flex flex-wrap gap-3 line-clamp-2">
                                        <li *ngFor="let convenient of room.ListConvenient" >
                                            <img class="min-w-[30px] h-[30px] object-cover " title="{{convenient.NameConvenient}}" src="http://localhost:3000/resources/img-convenients/{{convenient.LinkImage}}" alt="">
                                        </li>
                                    </ul>       
                                </div>
                                <div class="p-2">
                                    <div class="text-[16px] font-semibold text-custom-color-black text-right"> {{room.Price | money}} VND</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul><!-- End list rooms motels  -->
           
        </div>
    </div> <!-- End list rooms area-->
        
</div> <!-- End content wrapper -->