<div class="content_wrapper w-full h-[calc(100vh-68px)] min-w-[900px] flex">
    <div class="filters_area w-[300px] h-full bg-[#f8f7f5] pt-2">
        <form [formGroup]="formFilters" class="filters min-w-[280px] max-w-[280px] mx-auto border rounded-md border-[#e7e7e7] bg-white  ">
            <div class="p-2 text-[16px] text-custom-color-black font-bold border-b border-[#e7e7e7] ">Chọn lọc theo:</div>
            <div class="pt-3 pr-4 pb-2 pl-3 border-b border-[#e7e7e7]">
                <div class="text-[14px] text-custom-color-black font-bold">Dùng các bộ lọc cũ</div>
                <div class="ntt-custom-filter-field">
                    <div>
                       <input class="w-5 h-5" type="checkbox" formControlName="motelHasRoomAvailable" (ngModelChange)="handleFilters()">
                    </div>
                    <div class="flex flex-col w-full">
                        <div class="ntt-custom-content-filter">
                            <div>Chỉ hiển thị nhà trọ còn trống</div>
                        </div>
                    </div>
                </div>
                <div class="ntt-custom-filter-field">
                    <div>
                       <input class="w-5 h-5" type="checkbox" formControlName="noLiveWithLandlord">
                    </div>
                    <div class="flex flex-col w-full">
                        <div class="ntt-custom-content-filter">
                            <div>Không chung chủ</div>
                            <span>12</span>
                        </div>
                    </div>
                </div>
                <div class="ntt-custom-filter-field">
                    <div>
                       <input class="w-5 h-5" type="checkbox" formControlName="distanceLess1Km">
                    </div>
                    <div class="flex flex-col w-full" title="Đại học Quy Nhơn">
                        <div class="ntt-custom-content-filter">
                            <div>Dưới 1 km</div>
                            <span>13</span>
                        </div>
                        <div class="h-[20px] text-[12px] text-custom-color-black-light">Khoảng cách từ địa chỉ tới trường </div>
                    </div>
                </div> 
            </div>
            <div class="h-[180px] pt-3 pr-4 pb-2 pl-3 border-b border-[#e7e7e7] relative">
                <div class="text-[14px] text-custom-color-black font-bold">Ngân sách của bạn</div>
                <div class="text-[14px] mt-1 text-custom-color-black-light font-normal">{{formFilters.get('desiredPrice')?.value | money}} VND</div>
                <div id="chart" class="w-[278px]  p-0 relative left-[-20px] top-[-20px]">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis"
                                [dataLabels]="chartOptions.dataLabels" [tooltip]="chartOptions.tooltip">
                    </apx-chart>
                  </div>
                <div class="mb-4 relative z-10 top-[-83px]">
                    <input type="range" #price class="w-full " min="500000" max="5000000" step="100000" formControlName="desiredPrice">
                </div>
            </div>
            <div class="pt-3 pr-4 pb-5 pl-3 ">
                <div class="text-[14px] text-custom-color-black font-bold">Tiện nghi</div>
                <div class="ntt-custom-filter-field">
                    <div>
                       <input class="w-5 h-5" type="checkbox" formControlName="haveMezzanine">
                    </div>
                    <div class="flex flex-col w-full">
                        <div class="ntt-custom-content-filter">
                            <div>Gác lửng</div>
                            <span>12</span>
                        </div>
                    </div>
                </div>
                <div class="ntt-custom-filter-field">
                    <div>
                       <input class="w-5 h-5" type="checkbox" formControlName="haveToilet">
                    </div>
                    <div class="flex flex-col w-full">
                        <div class="ntt-custom-content-filter">
                            <div>Vệ sinh riêng</div>
                            <span>12</span>
                        </div>
                    </div>
                </div>
                <div class="ntt-custom-filter-field">
                    <div>
                       <input class="w-5 h-5" type="checkbox" formControlName="havePlaceToCook">
                    </div>
                    <div class="flex flex-col w-full">
                        <div class="ntt-custom-content-filter">
                            <div>Chỗ nấu ăn</div>
                            <span>12</span>
                        </div>
                    </div>
                </div>
                <div class="ntt-custom-filter-field">
                    <div>
                       <input class="w-5 h-5" type="checkbox" formControlName="haveAirConditioner" >
                    </div>
                    <div class="flex flex-col w-full">
                        <div class="ntt-custom-content-filter">
                            <div>Điều hoà</div>
                            <span>12</span>
                        </div>
                    </div>
                </div>
            </div>
        </form><!--End filters motels-->
    </div>
    <div  class="w-[calc(100%-300px)] h-full">
        <div id="map" class="w-full h-full" ></div>
    </div>
</div>
