
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}


input[type="range"]::-webkit-slider-runnable-track {
  background-color: transparent;
  border-radius: 0.5rem;
  height: 3.74px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  margin-top: -6.5px; 
  background-color: #006ce4;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px 6px #90c2fc91;
}


input[type="range"]::-moz-range-track {
  background-color: transparent;
  border-radius: 0.5rem;
  height: 3.74px;
}

input[type="range"]::-moz-range-thumb {
  border: none; 
  background-color: #006ce4;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0px 0px 0px 6px #90c2fc91;
} 

:host ::ng-deep span.ant-checkbox-inner{
  border: 1px solid #a7a7a7;
  height:20px;
  width:20px;
}

:host ::ng-deep .custom-price-icon {
  pointer-events: none;
  position: absolute;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .ant-slider-track {
  background-color: #0095f1;
}
:host ::ng-deep .ant-slider-track:hover {
  background-color: #0095f1;
}

:host ::ng-deep .ant-slider-handle {
  border: 2px solid #0095f1;

}
:host ::ng-deep .leaflet-control-zoom.leaflet-bar.leaflet-control,
:host ::ng-deep .leaflet-control-attribution.leaflet-control{
  display: none;
}

:host ::ng-deep .ant-slider-mark {
  display: flex;
  justify-content: space-between;
}

:host ::ng-deep .ant-slider-mark-text.ant-slider-mark-active.ng-star-inserted {
  all: unset; /* Loại bỏ tất cả các CSS hiện tại */
  transform:translate3d(0px, 0px, 0px) !important;
  color: '#535353' !important;
  font-size: 13px !important;
}


