<div id="popupAddRoomType" class="overlay w-full min-w-[310px] h-[100vh] fixed top-0 left-0 justify-center items-center bg-[rgba(34,34,34,0.7)] z-50 flex">
    <div id="containerAddRoomType" class="container max-w-[1000px] sm:h-[65vh] h-[100vh] min-h-[600px] bg-white relative sm:rounded-xl rounded-none overflow-hidden animate-appear" (click)="stopPropagation($event)">
        <div class="w-full p-2 relative flex mb:flex-row-reverse flex-row mb:justify-between items-center border-b">
            <div class="w-[35px] h-[35px] mb:bg-white hover:bg-[#f4f4f4] text-custom-color-black mb:rounded-full rounded-md flex justify-center items-center cursor-pointer" (click)="hiddenPopupAddMotel()">
                <i class='bx bx-x text-[30px] hidden mb:flex'></i>
                <i class='bx bx-chevron-left text-[40px] mb:hidden flex'></i>
            </div>
            <div class="font-semibold mb:ml-3 ml-2 mb:text-[20px] text-[18px] mb:text-custom-color-black">Thêm loại phòng mới</div>
        </div>
        <!-- Apply overflow-y-auto here for form scrolling -->
        <div class="w-full p-4 pt-6  overflow-y-auto h-[calc(100%-125px)]">
            <form [formGroup]="addRoomTypeForm" class="w-full flex flex-col" >
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 ">
                    <div class="relative w-full mb-2 ">
                        <div >
                            <input type="number" id="price" step="1000" formControlName="price" class="ntt-custom-input-sm peer" placeholder=" " [ngClass]="{'input-invalid': priceControl?.invalid && firstInvalidControl === 'price'}" />
                            <label for="price" class="absolute text-gray-500 text-[14px] transition-all duration-300 transform 
                                   scale-100 origin-top-left bg-white 
                                   peer-placeholder-shown:top-3
                                   peer-placeholder-shown:left-5
                                   peer-placeholder-shown:text-gray-500 
                                   peer-focus:top-0 
                                   peer-focus:-translate-y-0 
                                   peer-focus:-translate-x-[6px]
                                   peer-focus:text-gray-500 
                                   peer:not-placeholder-shown:top-0 
                                   peer:not-placeholder-shown:-translate-y-[16px] 
                                   peer:not-placeholder-shown:text-gray-400" [ngClass]="{'label-invalid': (priceControl?.invalid && firstInvalidControl === 'price')}">
                                Giá thuê/tháng
                            </label>
                        </div>
                        <div *ngIf="firstInvalidControl === 'price' && priceControl?.invalid">
                            <small class="masseage-error " *ngIf="priceControl?.hasError('required')"> <i class="fa-solid fa-circle-info"></i> Giá loại phòng trọ là bắt buộc.</small>
                            <small class="masseage-error " *ngIf="priceControl?.hasError('min')"> <i class="fa-solid fa-circle-info"></i> Giá loại phòng trọ  không hơp lệ.</small>
                        </div>
                    </div> 
                    <div class="relative w-full mb-2">
                        <div >
                            <input type="number" id="area" step="1" formControlName="area" class="ntt-custom-input-sm peer" placeholder=" " [ngClass]="{'input-invalid': areaControl?.invalid && firstInvalidControl === 'area'}" />
                            <label for="area" class="absolute text-gray-500 text-[14px] transition-all duration-300 transform 
                                   scale-100 origin-top-left bg-white 
                                   peer-placeholder-shown:top-3
                                   peer-placeholder-shown:left-5
                                   peer-placeholder-shown:text-gray-500 
                                   peer-focus:top-0 
                                   peer-focus:-translate-y-0 
                                   peer-focus:-translate-x-[6px]
                                   peer-focus:text-gray-500 
                                   peer:not-placeholder-shown:top-0 
                                   peer:not-placeholder-shown:-translate-y-[16px] 
                                   peer:not-placeholder-shown:text-gray-400" [ngClass]="{'label-invalid': (areaControl?.invalid && firstInvalidControl === 'area')}">
                                Diện tích phòng
                            </label>
                        </div>
                        <div *ngIf="firstInvalidControl === 'area' && areaControl?.invalid">
                            <small class="masseage-error " *ngIf="areaControl?.hasError('required')"> <i class="fa-solid fa-circle-info"></i> Diện tích phòng trọ là bắt buộc.</small>
                            <small class="masseage-error " *ngIf="areaControl?.hasError('max') || areaControl?.hasError('min')" > <i class="fa-solid fa-circle-info"></i> Diện tích phòng không hơp lệ</small>
                        </div>
                    </div>     
                    <div class="relative w-full mb-2">
                        <div >
                            <input type="number" id="amount" step="1" formControlName="amount" class="ntt-custom-input-sm peer" placeholder=" " [ngClass]="{'input-invalid': amountControl?.invalid && firstInvalidControl === 'amount'}" />
                            <label for="amount" class="absolute text-gray-500 text-[14px] transition-all duration-300 transform 
                                   scale-100 origin-top-left bg-white 
                                   peer-placeholder-shown:top-3
                                   peer-placeholder-shown:left-5
                                   peer-placeholder-shown:text-gray-500 
                                   peer-focus:top-0 
                                   peer-focus:-translate-y-0 
                                   peer-focus:-translate-x-[6px]
                                   peer-focus:text-gray-500 
                                   peer:not-placeholder-shown:top-0 
                                   peer:not-placeholder-shown:-translate-y-[16px] 
                                   peer:not-placeholder-shown:text-gray-400" [ngClass]="{'label-invalid': (amountControl?.invalid && firstInvalidControl === 'amount')}">
                                Số lượng phòng
                            </label>
                        </div>
                        <div *ngIf="firstInvalidControl === 'amount' && amountControl?.invalid">
                            <small class="masseage-error " *ngIf="amountControl?.hasError('required')"> <i class="fa-solid fa-circle-info"></i> Sô lượng phòng là bắt buộc.</small>
                            <small class="masseage-error " *ngIf="amountControl?.hasError('max')" > <i class="fa-solid fa-circle-info"></i> Sô lượng phòng không hơp lệ</small>
                        </div>
                    </div>   
                    <div class="relative w-full mb-2">
                        <div >
                            <input type="number" id="available" step="1" formControlName="available" class="ntt-custom-input-sm peer" placeholder=" " [ngClass]="{'input-invalid': availableControl?.invalid && firstInvalidControl === 'available'}" />
                            <label for="available" class="absolute text-gray-500 text-[14px] transition-all duration-300 transform 
                                   scale-100 origin-top-left bg-white 
                                   peer-placeholder-shown:top-3
                                   peer-placeholder-shown:left-5
                                   peer-placeholder-shown:text-gray-500 
                                   peer-focus:top-0 
                                   peer-focus:-translate-y-0 
                                   peer-focus:-translate-x-[6px]
                                   peer-focus:text-gray-500 
                                   peer:not-placeholder-shown:top-0 
                                   peer:not-placeholder-shown:-translate-y-[16px] 
                                   peer:not-placeholder-shown:text-gray-400" [ngClass]="{'label-invalid': (availableControl?.invalid && firstInvalidControl === 'available')}">
                                Số lượng phòng trống
                            </label>
                        </div>
                        <div *ngIf="firstInvalidControl === 'available' && availableControl?.invalid">
                            <small class="masseage-error " *ngIf="availableControl?.hasError('required')"> <i class="fa-solid fa-circle-info"></i> Sô lượng phòng trống là bắt buộc.</small>
                            <small class="masseage-error " *ngIf="availableControl?.hasError('max') || availableControl?.hasError('larger')" > <i class="fa-solid fa-circle-info"></i> Sô lượng phòng trống không hơp lệ</small>
                        </div>
                    </div>             
                    <div class="relative w-full mb-2 ">
                        <div class="">
                            <textarea type="text" id="description" formControlName="description" class="ntt-custom-textarea h-auto peer " autocomplete="off" spellcheck="false" placeholder=" " [ngClass]="{'input-invalid': descriptionControl?.invalid && firstInvalidControl === 'description'}"></textarea>
                            <label for="description" class="absolute text-gray-500 text-[14px] transition-all duration-300 transform 
                                   scale-100 origin-top-left bg-white 
                                   peer-placeholder-shown:top-3
                                   peer-placeholder-shown:left-5
                                   peer-placeholder-shown:text-gray-500 
                                   peer-focus:top-0 
                                   peer-focus:-translate-y-0 
                                   peer-focus:-translate-x-[6px]
                                   peer-focus:text-gray-500 
                                   peer:not-placeholder-shown:top-0 
                                   peer:not-placeholder-shown:-translate-y-[16px] 
                                   peer:not-placeholder-shown:text-gray-400" [ngClass]="{'label-invalid': (descriptionControl?.invalid && firstInvalidControl === 'description')}">
                                Mô tả về loại phòng
                            </label>
                        </div>
                        <div *ngIf="firstInvalidControl === 'description' && descriptionControl?.invalid">
                            <small class="masseage-error " *ngIf="descriptionControl?.hasError('required')"> <i class="fa-solid fa-circle-info"></i> Vui lònh ghi mô tả về nhà trọ.</small>
                        </div>
                    </div>
                    <!-- Upload Area -->
                    <div class=" w-full  mb-2">
                        <div class="w-full flex mb:flex-row flex-col gap-1">
                            <div *ngIf="listImages.length < 8" class="border-2 border-dashed border-gray-300 hover:border-custom-color-blue rounded-lg p-2 mb-2 w-[100px] h-[96px]">
                                <label class="cursor-pointer flex flex-col items-center justify-center space-y-2 relative">
                                <input  type="file" accept="image/*"  multiple (change)="onFileSelected($event)" 
                                    class="absolute top-0 left-0 w-full h-full opacity-0 cursor-pointer pointer-events-auto">
                                <div class="flex flex-col items-center justify-center pointer-events-none">
                                    <i class="bx bx-upload text-gray-500 text-3xl"></i>
                                    <p class="text-[14px] text-custom-color-black-light">Thêm ảnh</p>
                                </div>
                                </label>
                            </div>
                            <!-- Preview Images -->
                            <div class="mb:w-[calc(100%-100px)] w-full h-full flex flex-row flex-wrap gap-1 px-1" *ngIf="listImages.length > 0">
                                <div *ngFor="let imageUrl of imageUrls; let i = index" class="relative w-[50px] h-[50px] border border-[#98bfe6] p-[2px] rounded-sm">
                                    <img [src]="imageUrl" alt="Uploaded Image" class="w-full h-full object-cover rounded-sm">
                                    <button 
                                      class="absolute top-1 right-1 w-[18px] h-[18px] bg-white text-red-600 p-1 font-semibold rounded-full text-[10px] flex justify-center items-center" 
                                      (click)="removeImage(imageUrl)" 
                                      nz-tooltip 
                                      nzTooltipTitle="Xoá ảnh">
                                      ✕
                                    </button>
                                  </div>
                            </div>
                            <div *ngIf="listImages.length === 0" class="pl-2 pb-1 flex items-end">
                                <small class="masseage-error "> <i class="fa-solid fa-circle-info"></i> Vui lòng chọn ít nhất 1 ảnh, tối đa 8 ảnh!</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-fit w-full mb-3 ">
                    <div>Tiện nghi</div>
                    <nz-checkbox-group class="py-2" [(ngModel)]="checkConvenient" [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
                </div>      
            </form>
        </div>
        <div class="w-full absolute left-0 bottom-0 bg-white p-3 border-t flex justify-end">
            <button class="h-[48px] sm:w-1/2 w-full text-[16px] font-medium text-white bg-[#0045a8] px-5 py-[14px] rounded-md hover:bg-[#336ab9] hover:ntt-shadow-button-login"
             type="button" (click)="handleAddRoomType()">Thêm</button>
        </div>
    </div>
</div>

