
<div class="content_wrapper w-full">
    <div class="info w-full text-custom-color-black px-2 flex justify-between">
        <div>
            <div class="motel_name mt-5">
                <h2 class="mt-1 text-[26px] font-sans font-bold">Nhà trọ</h2>
            </div>
            <div class="address_motel flex mt-2 gap-2">
                <span><i class='fa-solid fa-location-dot text-[23px] text-custom-color-blue'></i></span>
                <span class="capitalize text-[18px] font-normal">79 Biên cương, Ngô mây</span>
                <span class="text-[16px] font-normal">- khoảng cách tới trường 1km.</span>
            </div>
        </div>
        <div title="Lưu" class="w-[78px] flex justify-start items-center mt-5">
            <button class="w-[55px] h-[55px] flex justify-center items-center rounded-full border-2 border-[#e7e7e7] bg-white hover:bg-[#f2f2f2] group">
                <i class="bx bx-heart text-[35px] text-custom-color-black-light group-hover:text-[red]"></i>
            </button>
        </div>
    </div>
    <div class="flex mt-3 ">
        <div class="w-[850px] pt-4 pl-2 pr-3">     
            <div class="grid grid-cols-3 grid-rows-6 gap-3 h-[350px]">
                <div class="col-span-2 row-span-6 col-start-2 row-start-1">
                    <img src="assets/images/img-motel.jpg" alt="" class="img-motel w-full h-full object-cover">
                </div>
                <div class="row-span-3 col-start-1 row-start-1">
                    <img src="assets/images/img-motel.jpg" alt="" class="img-motel w-full h-full object-cover ">     
                </div>
                <div class="row-span-3 row-start-4">
                    <img src="assets/images/img-motel.jpg" alt="" class="img-motel w-full h-full object-cover">
                </div>
            </div>
            <div class="flex h-[155px] mt-3 gap-3">
                <div>
                    <img src="assets/images/img-motel-2.jpg" alt="" class="img-motel w-full h-full object-cover">
                </div>
                <div>
                    <img src="assets/images/img-motel.jpg" alt="" class="img-motel w-full h-full object-cover">
                </div>
                <div>
                    <img src="assets/images/img-motel-2.jpg" alt="" class="img-motel w-full h-full object-cover">
                </div>
                <div>
                    <img src="assets/images/img-motel.jpg" alt="" class="img-motel w-full h-full object-cover">
                </div>
                <div>
                    <img src="assets/images/img-motel-2.jpg" alt="" class="img-motel w-full h-full object-cover">
                </div>
            </div>
        </div>
        <div class="w-[calc(100%-850px)] min-w-[250px] pt-4 px-2">
            <div class="h-full flex flex-col justify-between">
                <div class="h-[calc(100%-180px-16px)] border border-[#e7e7e7] rounded-md mb-4">
                    <div class="flex gap-2 w-full justify-end border-b border-[#e7e7e7] p-4">
                        <div class="w-full flex justify-end items-end">
                            <span class="text-[15px] font-normal text-custom-color-black">8 đánh giá</span>
                        </div>
                        <div class="min-w-8 h-8 flex justify-center items-center bg-[#003B95] rounded-[5px] rounded-bl-none">
                            <span class="text-[17px] font-semibold text-white">5.0</span>
                        </div>
                    </div>
                    <div class="w-full p-4 pt-3 text-custom-color-black flex justify-between items-center border-b border-[#e7e7e7]">
                        <div class="text-[17px] font-medium text-end">Giá:</div>
                        <div class="text-[21px] font-semibold " title="Giá nhà trọ">1.000.000 VND</div>
                    </div>
                    <div class="w-full p-4 pt-3 text-custom-color-black">
                        <div class="text-[17px] font-medium">Thông tin liên hệ:</div>
                        <div class="mt-3 flex flex-col gap-3">
                            <div class="w-full flex justify-start items-center gap-2 ">
                                <i class="fa-solid fa-user text-[18px] text-custom-color-blue"></i>
                                <span class="text-[15px] font-normal capitalize">Nguyễn Đăng Đức</span> 
                            </div>
                            <div class="w-full flex justify-start items-center gap-2">
                                <i class="fa-solid fa-phone text-[18px] text-custom-color-blue"></i>
                                <span class="text-[15px] font-normal">0923 728 234</span>
                            </div>
                            <div class="w-full flex justify-start items-center gap-2">
                                <i class="fa-solid fa-location-dot text-[18px] text-custom-color-blue"></i>
                                <span class="text-[15px] font-normal capitalize">79 Biên Cương, ngô mây </span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="view_on_map w-full h-[180px] bg-cover bg-center bg-no-repeat rounded-md flex flex-col justify-center gap-2"
                    style="background-image: url('/assets/images/map-entry-point.png');">
                    <div class="w-full flex justify-center">
                        <i class='bx bxs-map text-custom-bg-blue-light text-[54px] hover:text-custom-bg-hover-blue'></i>
                    </div>
                    <div class="w-full flex justify-center">
                        <button class="h-9 px-3 py-1 bg-custom-bg-blue-light rounded-md hover:bg-custom-bg-hover-blue">
                            <span class="text-[14px] text-white font-medium ">Hiển thị trên bản đồ</span>
                        </button>
                    </div>
                </div> <!--End view on map-->
            </div>

        </div>
    </div>
    <div class="convenient w-full mt-10 px-2">
       <div class="ntt-shadow-box w-full rounded-md">
            <div class="w-full border-b border-[#e7e7e7]">
                <h3 class="p-4 text-[20px] text-custom-color-black font-sans font-semibold">Tiện nghi của nhà trọ</h3>
            </div>
            <div class="w-full">
                <ul class="flex flex-wrap p-4 gap-4 text-custom-color-black">
                    <li class="ntt-li-convenient">
                        <div class="flex justify-center items-center gap-4 px-4">
                            <img class="w-[35px] h-[35px] object-cover  " src="assets/images/bathroom.png" alt="">
                            <span class="text-[16px]">Nhà vệ sinh riêng</span>
                        </div>
                    </li>
                    <li class="ntt-li-convenient">
                        <div class="flex justify-center items-center gap-4 px-4">
                            <img class="w-[35px] h-[35px] object-cover" src="assets/images/mezzanine.png" alt="">
                            <span class="text-[16px]">Gác lửng</span>
                        </div>
                    </li>
                    <li class="ntt-li-convenient ">
                        <div class="flex justify-center items-center gap-4 px-4">
                            <img class="w-[35px] h-[35px] object-cover " src="assets/images/air-conditioner.png" alt="">
                            <span class="text-[16px]">Điều hoà</span>
                        </div>
                    </li>
                    <li class="ntt-li-convenient">
                        <div class="flex justify-center items-center gap-4 px-4">
                            <img class="w-[35px] h-[35px] object-cover" src="assets/images/wifi.png" alt="">
                            <span class="text-[16px]">Wifi miễn phí</span>
                        </div>
                    </li>
                    <li class="ntt-li-convenient">
                        <div class="flex justify-center items-center gap-4 px-4">
                            <img class="w-[35px] h-[35px] object-cover" src="assets/images/water-heater.png" alt="">
                            <span class="text-[16px]">Máy nước nóng </span>
                        </div>
                    </li>
                    <li class="ntt-li-convenient">
                        <div class="flex justify-center items-center gap-4 px-4">
                            <img class="w-[35px] h-[35px] object-cover " src="assets/images/place-cook.png" alt="">
                            <span class="text-[16px]">Nơi nấu ăn</span>
                        </div>
                    </li>
                    <li class="ntt-li-convenient">
                        <div class="flex justify-center items-center gap-4 px-4">
                            <img class="w-[35px] h-[35px] object-cover " src="assets/images/fridge.png" alt="">
                            <span class="text-[16px]">Tủ lạnh</span>
                        </div>
                    </li>
                    <li class="ntt-li-convenient">
                        <div class="flex justify-center items-center gap-4 px-4">
                            <img class="w-[35px] h-[35px] object-cover" src="assets/images/whasing-machine.png" alt="">
                            <span class="text-[16px]">Máy giặt</span>
                        </div>
                    </li>
                    <li class="ntt-li-convenient">
                        <div class="flex justify-center items-center gap-4 px-4">
                            <img class="w-[35px] h-[35px] object-cover" src="assets/images/clothes.png" alt="">
                            <span class="text-[16px]">Nơi phơi đồ</span>
                        </div>
                    </li>
                    <li class="ntt-li-convenient">
                        <div class="flex justify-center items-center gap-4 px-4">
                            <img class="w-[35px] h-[35px] object-cover " src="assets/images/camera.png" alt="">
                            <span class="text-[16px]">An ninh</span>
                        </div>
                    </li>
                </ul>
            </div>
       </div>
    </div> <!--End convenient-->
    <div class="description w-full mt-8 px-2">
        <div class="ntt-shadow-box w-full rounded-md">
             <div class="w-full border-b border-[#e7e7e7]">
                 <h3 class="p-4 text-[20px] text-custom-color-black font-sans font-semibold">Mô tả về nhà trọ</h3>
             </div>
             <div class="w-full p-4">
                 <span class="text-[16px]">
                    Nhà trọ đẹp đầy đủ tiện nghi
                 </span>         
             </div>
        </div>
     </div> <!--End description-->
</div>
