<div class="content_wrapper w-full">
    <div class="info w-full text-custom-color-black px-2 flex justify-between">
        <div>
            <div class="motel_name mt-5">
                <h2 class="mt-1 mb:text-[26px] text-[20px] font-sans font-bold capitalize">Nhà trọ {{motel.NameMotel ? motel.NameMotel : (motel.Address + ', ' + motel.WardCommune)}}</h2>
            </div>
            <div class="address_motel flex mb:flex-row flex-col mt-2 gap-2">
                <span><i class='fa-solid fa-location-dot text-[23px] text-custom-color-blue mr-3'></i>
                    <span class="capitalize mb:text-[18px] text-[15px]  font-normal">{{motel.Address}}, {{motel.WardCommune}}</span>
                </span>
                <span class="mb:text-[18px] text-[15px] font-normal"><span class="w-fit h-fit text-custom-color-black-light text-[10px] relative -top-[2px]">●</span> khoảng cách tới trường {{motel.Distance}} km.</span>
            </div>
        </div>
        <div class="mb:w-[78px] w-fit flex justify-start mb:items-center items-end mt-5 mb:pb-0 pb-2" >
            <button *ngIf="!isFavorited(motel._id)"  (click)="addMotelIntoFavorites(motel._id)"  title="Thêm vào danh sách yêu thích"
                class="mb:w-[55px] mb:h-[55px] w-[48px] h-[48px] flex justify-center items-center  group">
                <i class="bx bxs-heart mb:text-[45px] text-[35px] text-[#babbbd] group-hover:text-[red]"></i>
            </button>
            <button *ngIf="isFavorited(motel._id)" (click)="removeMotelFromFavorites(motel._id)"  title="Xoá khỏi danh sách yêu thích"
                class="mb:w-[55px] mb:h-[55px] w-[48px] h-[48px] flex justify-center items-center  group">
               <i class="bx bxs-heart mb:text-[45px] text-[35px] text-red-500 group-hover:text-[red]"></i>
           </button>
        </div>
    </div>
    <div class="flex sm:flex-row flex-col mt-3 ">
        <div class="sm:w-[830px] w-full pt-4 pl-2 pr-3">     
            <div class="sm:h-[500px] h-[400px] relative" [ngClass]="getLayoutImageClass(motel.ListImages.slice(0,3).length)">
                <div class="image" *ngFor="let image of motel.ListImages.slice(0,3), let i = index">
                    <img src="http://localhost:3000/resources/img-motels/{{image.LinkImage}}" alt="" class="img-motel w-full h-full object-cover" (click)="handleOpenCollectionImage(i)">
                </div>
                <div class="flex mt-3 gap-3 absolute z-10 bottom-2 right-2" *ngIf="motel.ListImages.length >= 4" >
                    <div *ngFor="let image of motel.ListImages.slice(3,4)" class="md:w-[150px] md:h-[180px] w-[100px] h-[130px] border-4 border-[white] relative">
                        <img src="http://localhost:3000/resources/img-motels/{{image.LinkImage}}" alt="" class="img-motel w-full h-full object-cover brightness-50" (click)="handleOpenCollectionImage(3)">
                        <div *ngIf="motel.ListImages.length >= 4" class="absolute top-0 w-full h-full flex justify-center items-center pointer-events-none"><span class="text-[35px] text-white font-medium">+{{(motel.ListImages.slice(4).length) + 1}}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sm:w-[calc(100%-850px)] w-full min-w-[275px] pt-4 mb:px-2 px-0">
            <div class="h-full flex flex-col justify-between">
                <div class="h-[calc(100%-180px-16px)] border border-[#e7e7e7] mb:rounded-md rounded-none mb:mb-4 mb-0">
                    <div class="flex gap-2 w-full justify-end border-b border-[#e7e7e7] p-4">
                        <div class="w-full flex justify-end items-end">
                            <span class="text-[15px] font-normal text-custom-color-black">{{motel.ListRatings.length}} đánh giá</span>
                        </div>
                        <div class="min-w-9 h-9 flex justify-center items-center bg-[#003B95] rounded-[5px] rounded-bl-none">
                            <span class="text-[17px] font-semibold text-white">{{motel.TotalRating | number:'1.1-1'}}</span>
                        </div>
                    </div>
                    <div class="w-full p-4 pt-3 flex flex-col border-b border-[#e7e7e7]">
                        <div class="text-end flex  text-custom-color-black-light"><span class="text-[13px] h-[17px]">Giá chỉ từ:</span></div>
                        <div class="mt-2 text-[22px] font-semibold text-custom-color-blue " title="Giá nhà trọ">{{motel.Price | money}} VND/tháng</div>
                    </div>
                    <div class="w-full p-4 pt-3 font-medium text-custom-color-black-light">
                        <div class="text-[17px] ">Thông tin liên hệ:</div>
                        <div class="mt-3 flex flex-col gap-3">
                            <div class="w-full flex justify-start items-center gap-2 ">
                                <i class="fa-solid fa-user text-[18px] text-custom-color-blue"></i>
                                <span class="text-[15px] font-normal capitalize">{{motel.LandlordName}}</span> 
                            </div>
                            <div class="w-full flex justify-start items-center gap-2">
                                <i class="fa-solid fa-phone text-[18px] text-custom-color-blue"></i>
                                <span class="text-[15px] font-normal">{{motel.PhoneNumberContact | phone}}</span>
                            </div>
                            <div class="w-full flex justify-start items-center gap-2">
                                <i class="fa-solid fa-location-dot text-[18px] text-custom-color-blue"></i>
                                <span class="text-[15px] font-normal capitalize">{{motel.AddressLandlord}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="view_on_map w-full h-[180px] mb:p-0 p-3 ">
                    <div class="w-full h-full bg-cover bg-center bg-no-repeat rounded-md flex flex-col justify-center gap-2 " style="background-image: url('/assets/images/map-entry-point.png');">
                        <div class="w-full flex justify-center">
                            <i class='bx bxs-map text-custom-bg-blue-light text-[54px] hover:text-custom-bg-hover-blue'></i>
                        </div>
                        <div class="w-full flex justify-center">
                            <button class="h-9 px-3 py-1 bg-custom-bg-blue-light rounded-md hover:bg-custom-bg-hover-blue">
                                <span class="text-[14px] text-white font-medium" (click)="handleViewOnMapSpecificallyMotel(motel.Location)">Hiển thị trên bản đồ</span>
                            </button>
                        </div>
                    </div>
                </div> <!--End view on map-->
            </div>

        </div>
    </div>
    <div class="convenient w-full mb:mt-10 mt-0 mb:px-2 px-0 ">
       <div class="mb:border-none border w-full mb:rounded-md rounded-none">
            <div class="w-full border-b border-[#e7e7e7]">
                <h3 class="p-4 mb:text-[20px] text-[17px] text-custom-color-black font-sans font-semibold">Tiện nghi của nhà trọ</h3>
            </div>
            <div class="w-full">
                <ul class="flex flex-wrap p-4 gap-4 text-custom-color-black">
                    <li class="ntt-li-convenient" *ngFor="let convenient of motel.ListConvenient">
                        <div class="flex justify-center items-center gap-4 px-4">
                            <img class="mb:w-[35px] mb:h-[35px] w-[25px] h-[25px] object-cover " src="http://localhost:3000/resources/img-convenients/{{convenient.LinkImage}}" alt="">
                            <span class="mb:text-[16px] text-[13px]">{{convenient.NameConvenient}}</span>
                        </div>
                    </li>
                </ul>
            </div>
       </div>
    </div> <!--End convenient-->
    <div class="description w-full mb:mt-8 mt-0 mb:px-2 px-0 pb-10">
        <div class="w-full rounded-md">
             <div class="w-full border-b border-[#e7e7e7]">
                 <h3 class="p-4 mb:text-[20px] text-[17px] text-custom-color-black font-sans font-semibold">Mô tả về nhà trọ</h3>
             </div>
             <div class="w-full p-4 mb:text-[16px] text-[15px]">
                <p>
                    <span>Tiền điện: {{motel.ElectricityBill | money}}/kwh.</span>
                    <span> Tiền nước: {{motel.WaterBill | money}}/m³.</span>
                </p>
                <div [innerHTML]="motel.Description | lineBreak" ></div>         
             </div>
        </div>
     </div> <!--End description-->
</div>

<div class="w-full h-[100vh] fixed top-0 left-0 overflow-hidden z-20 flex justify-center items-center animate-appear mb:animate-none" *ngIf="isCollectionImageOpen" >
    <div class="absolute w-full h-full bg-[rgba(0,0,0,0.6)] backdrop-blur-[1.5px]" (click)="handleCloseCollectionImage()"></div>
    <div class=" mx-auto relative mb:w-[95%] mb:h-[95%] w-full h-full bg-white z-10 mb:rounded-xl rounded-none flex flex-col overflow-hidden ">
        <div class="w-full h-[7%] flex justify-between items-center border-b">
            <div><span class="ml-5 text-[18px] font-semibold">Ảnh của nhà trọ</span></div>
            <button class="px-4 py-2 flex justify-center items-center text-custom-color-black-light hover:text-custom-color-blue"
                (click)="handleCloseCollectionImage()">
                <i class='bx bx-x text-[35px]'></i>
            </button>
        </div>
        <div class="w-full h-[75%] flex flex-col">
            <div class="w-full h-[95%] flex justify-between items-center  ">
                <button (click)="prevImage()" class=" text-custom-color-black-light hover:text-custom-color-blue"><i class='bx bx-chevron-left text-[70px]'></i></button>
                <div class="w-[90%] h-[90%] flex justify-center items-center">
                    <img src="http://localhost:3000/resources/img-motels/{{motel.ListImages[currentIndex].LinkImage}}" alt="" class=" w-fit h-full object-contain rounded-md " >
                </div>
                <button (click)="nextImage()" class=" text-custom-color-black-light hover:text-custom-color-blue"><i class='bx bx-chevron-right text-[70px]'></i></button>
            </div>
            <div class="w-full h-[5%] flex justify-center"><span>{{currentIndex + 1}}/{{motel.ListImages.length}}</span></div>
        </div>
        <div class="w-full h-[18%] flex mb:justify-center justify-normal gap-3 p-3 overflow-x-auto px-3" >
            <img *ngFor="let image of motel.ListImages, let i = index" src="http://localhost:3000/resources/img-motels/{{image.LinkImage}}" alt="" tabindex="0"
            (click)="currentIndex = i"
            [ngClass]="{
                'ntt-shadow-image': currentIndex === i, 
                'opacity-100': currentIndex === i,
                'opacity-50': currentIndex !== i,
            }"
            class="cursor-pointer w-fit md:h-[100px] h-[80px] object-contain focus:ntt-shadow-image 
            focus:outline-none rounded-sm focus:opacity-100 hover:opacity-100 opacity-50 transition-opacity duration-100 delay-55">
        </div>
    </div>
</div>

