<div class="root">
    <div class="content_wrappper w-full text-base">
        <header class="w-full bg-custom-bg-blue pt-2">
            <div class="header_bar max-w-custom mx-auto px-4 pt-1 pb-2 h-[60px] flex justify-between bg-custom-bg-blue mb-3">
                <div class="header_main flex justify-center items-center">
                    <div class="header_logo ">
                        <a routerLink="/client/home" class="text-2xl font-bold text-white">QNMotelMap</a>
                    </div>
                </div><!-- End header main-->
                <div class="header_control flex items-center gap-3 pl-4 min-w-[378px]">
                    <a href="" class="font-semibold px-3 py-3 hover:bg-[#1a4f9f] rounded-[3px] text-white">Xem trên bảng đồ</a>
                    <div class="flex items-center gap-3">
                        <a href="" class="ntt-custom-button"><span>Đăng ký</span></a>
                        <a href="" class="ntt-custom-button"><span>Đăng nhập</span></a>
                    </div>
                </div><!-- End header control -->
            </div><!-- End header bar -->
            <div class="search-wrapper w-full mb-[56px]">
                <div class="banner-wrapper h-[180px] max-w-custom mx-auto flex justify-start items-center bg-custom-bg-blue px-2">
                    <div>
                        <h1 class="text-5xl font-extrabold text-white font-sans"><span>Tìm nhà trọ tiếp theo</span></h1>
                        <p class="text-2xl text-white font-sans mt-3">Nhà trọ đa dạng và nhiều hơn nữa...</p>
                    </div>
                </div>
                <div class="banner-searchbox w-full ntt-bg-custom-gradient pt-3 px-2">
                    <form [formGroup]="formSearch" (ngSubmit)="handleSearch()"
                         class="max-w-custom mx-auto bg-[#ffb700] flex rounded-lg p-1 gap-1 ntt-shadow-searchbox flex-col ml:flex-row">
                        <div class="ntt-field-search">
                            <div class="h-full w-full flex items-center"
                                 id="input_address_search"
                                 (click)="wardCommuneInput.focus(); showDropdownSuggestWardCommune = true">
                                <i class='bx bx-map ntt-custom-icon'></i>
                                <input 
                                    class="w-full h-[36px] px-2 py-1 text-[14px] text-custom-color-black-light font-semibold focus:outline-none placeholder:text-custom-color-black-light"
                                    type="search" 
                                    #wardCommuneInput
                                    formControlName = "wardCommune"
                                    placeholder="Bạn muốn tìm ở đâu?">
                               
                            </div>
                            <div id="suggest_ward_commune_popup"
                                appClickOutsideSuggestWardCommune
                                (clickOutsideSuggestWardCommune)="showDropdownSuggestWardCommune = false" 
                                *ngIf="showDropdownSuggestWardCommune"
                                class="absolute w-[380px] bg-white translate-y-4 left-0 rounded-lg ntt-shadow-input-suggest z-10" >
                                <div class="pt-3 pb-1 px-3 text-[14px] font-bold text-custom-color-black">
                                    Phường/xã được gợi ý
                                </div>
                                <ul class="w-full">
                                    <li class="p-3 flex border-b hover:bg-[#f2f2f2] cursor-pointer">
                                        <i class='bx bx-map text-[24px] pr-2 text-custom-color-black-light'></i>
                                        <p class="w-full text-[14px] font-bold text-custom-color-black">Ngô Mây</p>
                                    </li>
                                    <li class="p-3 flex border-b hover:bg-[#f2f2f2] cursor-pointer">
                                        <i class='bx bx-map text-[24px] pr-2 text-custom-color-black-light'></i>
                                        <p class="w-full text-[14px] font-bold text-custom-color-black">Ngô Mây</p>
                                    </li>
                                    <li class="p-3 flex border-b hover:bg-[#f2f2f2] cursor-pointer">
                                        <i class='bx bx-map text-[24px] pr-2 text-custom-color-black-light'></i>
                                        <p class="w-full text-[14px] font-bold text-custom-color-black">Ngô Mây</p>
                                    </li>
                                </ul>
                            </div> <!-- End dropdown suggest ward/commune -->
                        </div>
                        <div class="ntt-field-search cursor-pointer ">
                            <div id="field_desired_price" 
                                (click)="showDesiredPricePopup = true"
                                class="h-full flex items-center bg-white rounded-[5px]">
                                <i class="bx bx-money-withdraw ntt-custom-icon"></i>
                                <p class="ntt-custom-p">Giá tiền mà bạn muốn: <span class="pl-1">{{formSearch.get('desiredPrice')?.value ? (formSearch.get('desiredPrice')?.value | money) + ' VND' : '_ _ _ VND'}}</span></p>
                            </div>
                            <div id="desired_price_popup"
                                *ngIf="showDesiredPricePopup"
                                appClickOutsideDesiredPrice
                                (clickOutsideDesiredPrice)="showDesiredPricePopup = false"
                                class="absolute w-[380px] bg-white translate-y-4 left-0 rounded-lg ntt-shadow-input-suggest z-10 ">
                                <div class="pt-3 pb-1 px-3 text-[14px] font-bold text-custom-color-black">
                                    Chọn số tiềm bạn mong muốn
                                </div>
                                <div class="p-3 ">
                                    <ngx-slider [(value)]="valueDesiredPrice"
                                    [options]="optionsDesiredPrice"
                                    (valueChange)="onSliderValueChange($event)"></ngx-slider>
                                </div>
                                <div *ngIf="formSearch.get('desiredPrice')?.value" class="w-full p-3 pb-5">
                                    <button type="button"
                                        (click)="resetToDefaultDesiredPrice()"
                                        class="w-full px-3 py-2 border-2 rounded-[4px] text-[15px] text-custom-color-black-light font-semibold
                                        hover:bg-custom-hv-color-blue hover:border-blue-200 ">
                                        Đặt lại ban đầu
                                    </button>
                                </div>
                            </div> <!-- End desired price popup-->
                        </div>
                        <div class="ntt-field-search cursor-pointer">
                            <div id="other_choose_fields"
                                (click)="showOtherChoosePopup = true"
                                 class="h-full flex items-center bg-white rounded-[5px]">
                                <i class='bx bx-add-to-queue ntt-custom-icon'></i>
                                <div class="ntt-custom-p">
                                    <p class="pr-2">Các lựa chọn khác:</p>
                                    <p>
                                        <span *ngIf="formSearch.get('distance')?.value">{{formSearch.get('distance')?.value }} km</span>
                                        <span *ngIf="formSearch.get('haveMezzanine')?.value"> - gác lững</span>
                                        <span *ngIf="formSearch.get('haveToilet')?.value" > - nhà vệ sinh riêng</span>
                                        <span *ngIf="formSearch.get('haveAirConditioner')?.value" > - điều hoà </span>
                                    </p>
                                </div>
                                <i class='bx bx-chevron-down text-[20px] text-custom-color-black-light'></i>
                            </div>
                            <div id="other_choose_popup"
                                *ngIf="showOtherChoosePopup"
                                appClickOutsideOtherChooseFields
                                (clickOutsideOtherChooseFields)="showOtherChoosePopup = false"
                                class="absolute w-[380px] bg-white translate-y-4 left-0 ml:left-auto ml:right-0 rounded-lg ntt-shadow-input-suggest z-10">
                                <div class="w-full px-4 pb-2 pt-6 flex justify-between items-center">
                                   <span class=" text-[14px] font-semibold text-custom-color-black-light">Khoảng cách tới trường dưới:</span>
                                   <div class="flex justify-center items-center">
                                        <button type="button" 
                                            (click)="onClickDecreaseDistance()"
                                            (mousedown)="decreaseDistance()"
                                            (mouseleave)="stopDecreaseDistance()"
                                            (mouseup)="stopDecreaseDistance()"
                                             class="hover:bg-custom-hv-color-blue"><i class='bx bx-minus p-2'></i></button>
                                        <span class="text-[15px] w-[50px] font-semibold text-center">{{ formSearch.get('distance')?.value }} km</span>
                                        <button type="button"
                                            (click)="onClickIncreaseDistance()"
                                            (mousedown)="increaseDistance()" 
                                            (mouseleave)="stopIncreaseDistance()"
                                            (mouseup)="stopIncreaseDistance()"
                                            class=" hover:bg-custom-hv-color-blue"><i class='bx bx-plus p-2' ></i></button>
                                   </div>
                                </div>
                                <div class="w-full px-4 py-2 flex justify-between items-center">
                                    <span class=" text-[14px] font-semibold text-custom-color-black-light">Có gác lững</span>
                                    <div class="w-[100px] flex justify-center items-center">
                                        <mat-slide-toggle formControlName="haveMezzanine" class=""></mat-slide-toggle>
                                    </div>
                                </div>
                                <div class="w-full px-4 py-2 flex justify-between items-center">
                                    <span class="text-[14px] font-semibold text-custom-color-black-light">Có nhà vệ sinh riêng</span>
                                    <div class="w-[100px] flex justify-center items-center">
                                        <mat-slide-toggle formControlName="haveToilet" class=""></mat-slide-toggle>
                                    </div>
                                </div>
                                <div class="w-full px-4 py-2 flex justify-between items-center">
                                    <span class="text-[14px] font-semibold text-custom-color-black-light">Có điều hoà</span>
                                    <div class="w-[100px] flex justify-center items-center">
                                        <mat-slide-toggle formControlName="haveAirConditioner"></mat-slide-toggle>
                                    </div>
                                </div>
                                <div  class="w-full px-4 py-2 pb-6">
                                    <button type="button"
                                        (click)="resetToDefaultOtherChoose()"
                                        class="w-full px-3 py-2 border-2 rounded-[4px] text-[15px] text-custom-color-black-light font-semibold
                                        hover:bg-custom-hv-color-blue hover:border-blue-200 ">Đặt lại ban đầu</button>
                                </div>
                                

                            </div> <!-- End other choose popup-->
                        </div>
                        <div class="h-[54px] w-full ml:w-[82px]">
                            <button type="submit" class="h-full w-full bg-custom-color-blue-light rounded-[5px] hover:bg-[#0157b6]"><span class="px-6 py-1 text-[20px] font-semibold text-white">Tìm</span></button>
                        </div>

                    </form>
                </div>
            </div><!-- End search wrapper -->
        </header>
        <main>main</main>
    </div><!-- End content wrapper -->
</div><!-- End root -->