<div class="root">
    <div class="content_wrappper w-full text-base">
        <header *ngIf="showHeader" class="w-full bg-custom-bg-blue pt-2">
            <app-header-bar/>
            <div class="search_wrapper w-full ">
                <div *ngIf="showBannerWrapper" class="banner_wrapper h-[150px] max-w-custom mx-auto sm:flex justify-start items-center bg-custom-bg-blue px-2 hidden">
                    <div>
                        <h1 class="text-5xl font-extrabold text-white font-sans"><span>Tìm nhà trọ tiếp theo</span></h1>
                        <p class="text-2xl text-white font-sans mt-3">Nhà trọ đa dạng và nhiều hơn nữa...</p>
                    </div>
                </div>
                <div *ngIf="showFormSearch" class="banner_searchbox w-full ntt-bg-custom-gradient pt-3 px-2 mb:mb-[35px] mb-[15px] mt-4 ">
                    <form [formGroup]="formSearch" (ngSubmit)="handleSearch() "
                         class="max-w-custom mx-auto bg-[#ffb700] flex rounded-lg p-1 gap-1 ntt-shadow-popup flex-col ml:flex-row">
                        <div class="ntt-field-search">
                            <div class="h-full w-full flex items-center"
                                 id="input_address_search"
                                 (click)="addressInput.focus(); showDropdownSuggestAddress = true">
                                <i class='bx bx-map ntt-custom-icon'></i>
                                <input 
                                    class="w-full h-[36px] px-2 py-1 text-[14px] text-custom-color-black-light font-semibold focus:outline-none placeholder:text-custom-color-black-light"
                                    type="search" 
                                    spellcheck="false"
                                    #addressInput
                                    formControlName = "address"
                                    placeholder="Bạn muốn tìm ở đâu?">
                                <i *ngIf="addressInput.value" (click)="formSearch.get('address')?.setValue('')" class='bx bx-x text-[22px] p-1 cursor-pointer'></i>
                            </div>
                            <div id="suggest_ward_commune_popup"
                                appClickOutsideSuggestAddress
                                (clickOutsideSuggestAddress)="showDropdownSuggestAddress = false" 
                                *ngIf="showDropdownSuggestAddress"
                                class="absolute mb:w-[380px] w-full bg-white translate-y-3 left-0 rounded-lg ntt-shadow-input-suggest z-50 overflow-hidden" >
                                <div class="pt-4 pb-1 px-3 text-[14px] font-bold text-custom-color-black flex justify-between items-center">
                                   <span> Phường/xã được gợi ý</span>
                                   <i class='bx bx-x text-[25px] mb:hidden flex' (click)="showDropdownSuggestAddress = false" ></i>
                                </div>
                                <ul class="w-full ">
                                    <li *ngFor="let address of listAddressSuggest.slice(0, 4)"
                                        (click)= "handleChooseAddress($event)"
                                        class="w-full p-3 flex border-b hover:bg-[#f2f2f2] cursor-pointer ">
                                        <i class='bx bx-map text-[24px] pr-2 text-custom-color-black-light'></i>
                                        <p class="w-full text-[14px] font-normal text-custom-color-black capitalize">{{address}}</p>
                                    </li>
                                    <li *ngIf="listAddressSuggest.length === 0" class="w-full p-3 flex border-b  cursor-pointer ">
                                        <p class="w-full text-[14px] font-normal text-custom-color-black">Không tìm thấy địa chỉ phù hợp!</p>
                                    </li>
                                    
                                </ul>
                            </div> <!-- End dropdown suggest ward/commune -->
                        </div>
                        <div class="ntt-field-search cursor-pointer ">
                            <div id="field_desired_price" 
                                (click)="showDesiredPricePopup = true"
                                class="h-full flex items-center bg-white rounded-[5px]">
                                <i class="bx bx-money-withdraw ntt-custom-icon"></i>
                                <p class="ntt-custom-p">Giá tiền mà bạn muốn: <span class="pl-1">{{formSearch.get('desiredPrice')?.value ? (formSearch.get('desiredPrice')?.value | money) + ' VND' : '_ _ _ VND'}}</span></p>
                            </div>
                            <div id="desired_price_popup"
                                *ngIf="showDesiredPricePopup"
                                appClickOutsideDesiredPrice
                                (clickOutsideDesiredPrice)="showDesiredPricePopup = false"
                                class="absolute mb:w-[380px] w-full bg-white translate-y-3 left-0 rounded-lg ntt-shadow-input-suggest z-50 ">
                                <div class="pt-4 pb-1 px-3 text-[14px] font-bold text-custom-color-black flex justify-between items-center">
                                    <span>Chọn số tiền bạn muốn</span>
                                    <i class='bx bx-x text-[25px] mb:hidden flex' (click)="showDesiredPricePopup = false" ></i>
                                </div>
                                <div class="px-3 pb-3 ">
                                    <nz-slider class="w-full" [nzMin]="500000" [nzMax]="5000000"  [nzStep]="100000" [nzMarks]="marksPrice" [nzTooltipVisible]="'never'" formControlName="desiredPrice"></nz-slider>
                                </div>
                                <div class="w-full p-3 pb-5">
                                    <button type="button"
                                        (click)="resetToDefaultDesiredPrice()"
                                        class="w-full px-3 py-2 border-2 rounded-[4px] text-[15px] text-custom-color-black-light font-semibold
                                        hover:bg-custom-hv-color-blue hover:border-blue-200 ">
                                        Đặt lại ban đầu
                                    </button>
                                </div>
                            </div> <!-- End desired price popup-->
                        </div>
                        <div class="ntt-field-search cursor-pointer">
                            <div id="other_choose_fields"
                                (click)="showOtherChoosePopup = true"
                                 class="h-full flex items-center bg-white rounded-[5px]">
                                <i class='bx bx-add-to-queue ntt-custom-icon'></i>
                                <div class="ntt-custom-p">
                                    <p class="pr-2">Các lựa chọn khác:</p>
                                    <p>
                                        <span *ngIf="formSearch.get('desiredDistance')?.value">{{formSearch.get('desiredDistance')?.value }} km</span>
                                        <span *ngIf="formSearch.get('noLiveWithLandlord')?.value" > - không chung chủ</span>
                                        <span *ngIf="formSearch.get('haveMezzanine')?.value"> - gác lững</span>
                                        <span *ngIf="formSearch.get('haveToilet')?.value" > - nhà vệ sinh riêng</span>
                                        <span *ngIf="formSearch.get('haveAirConditioner')?.value" > - điều hoà </span>
                                    </p>
                                </div>
                                <i class='bx bx-chevron-down text-[20px] text-custom-color-black-light'></i>
                            </div>
                            <div id="other_choose_popup"
                                *ngIf="showOtherChoosePopup"
                                appClickOutsideOtherChooseFields
                                (clickOutsideOtherChooseFields)="showOtherChoosePopup = false"
                                class="absolute mb:w-[380px] w-full bg-white translate-y-3 left-0 ml:left-auto ml:right-0 rounded-lg ntt-shadow-input-suggest z-50">
                                <div class="w-full px-4 pb-2 pt-5 flex justify-between items-center">
                                   <span class=" text-[14px] font-semibold text-custom-color-black">Khoảng cách tới trường dưới:</span>
                                   <i class='bx bx-x text-[25px] mb:hidden flex' (click)="showOtherChoosePopup = false" ></i>
                                </div>
                                <div class="px-3">
                                    <nz-slider class="w-full" [nzMin]="0" [nzMax]="7"  [nzStep]="0.1" [nzMarks]="marksDistance" [nzTooltipVisible]="'never'" formControlName="desiredDistance"></nz-slider>
                                </div>
                                <div class="w-full px-4 py-2 flex justify-between items-center">
                                    <span class=" text-[14px] font-semibold text-custom-color-black">Không chung với chủ</span>
                                    <div class=" flex justify-center items-center">
                                        <nz-switch formControlName="noLiveWithLandlord" ></nz-switch>
                                    </div>
                                </div>
                                <div class="w-full px-4 py-2 flex justify-between items-center">
                                    <span class=" text-[14px] font-semibold text-custom-color-black">Có gác lửng</span>
                                    <div class=" flex justify-center items-center">
                                        <nz-switch formControlName="haveMezzanine" class=""></nz-switch>
                                    </div>
                                </div>
                                <div class="w-full px-4 py-2 flex justify-between items-center">
                                    <span class="text-[14px] font-semibold text-custom-color-black">Có nhà vệ sinh riêng</span>
                                    <div class="flex justify-center items-center">
                                        <nz-switch formControlName="haveToilet" class=""></nz-switch>
                                    </div>
                                </div>
                                <div class="w-full px-4 py-2 flex justify-between items-center">
                                    <span class="text-[14px] font-semibold text-custom-color-black">Có điều hoà</span>
                                    <div class="flex justify-center items-center">
                                        <nz-switch formControlName="haveAirConditioner"></nz-switch>
                                    </div>
                                </div>
                                <div  class="w-full px-4 py-2 pb-6">
                                    <button type="button"
                                        (click)="resetToDefaultOtherChoose()"
                                        class="w-full px-3 py-2 border-2 rounded-[4px] text-[15px] text-custom-color-black-light font-semibold
                                        hover:bg-custom-hv-color-blue hover:border-blue-200 ">Đặt lại ban đầu</button>
                                </div>
                                
                            </div> <!-- End other choose popup-->
                        </div>
                        <div class="h-[54px] w-full ml:w-[82px]">
                            <button type="submit" class="h-full w-full bg-custom-bg-blue-light rounded-[5px] hover:bg-custom-bg-hover-blue">
                                <span class="px-6 py-1 text-[20px] font-semibold text-white">Tìm</span>
                            </button>
                        </div>

                    </form>
                </div>
            </div><!-- End search wrapper -->
        </header>
        <main class="w-full h-auto relative ">
            <router-outlet>
            </router-outlet>
        </main>
       
    </div><!-- End content wrapper -->
</div><!-- End root -->
<app-login></app-login>