<div class="content_wrapper w-full text-base mb:px-2 px-0">
    <div class="max-w-custom mx-auto">
        <nav>
            <ul class="flex items-end   h-[70px]">
                <li class="w-1/3 h-full">
                    <a class="ntt-a-router" routerLink="/client/home/detail-motel/{{motelId}}/overall" routerLinkActive="router-active">
                        <span class="mb:text-[16px] text-[14px]">Tổng quan về nhà trọ</span>
                    </a>
                </li>
                <li class="w-1/3 h-full">
                    <a class="ntt-a-router" routerLink="/client/home/detail-motel/{{motelId}}/roomTypes" routerLinkActive="router-active">
                        <span class="mb:text-[16px] text-[14px]">Xem các phòng trọ</span>
                    </a>
                </li>
                <li class="w-1/3 h-full">
                    <a class="ntt-a-router" (click)="openDrawer()">
                        <span class="mb:text-[16px] text-[14px]">Đánh giá của khách ({{ListRatings.length}})</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="main_content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<!-- End content wrapper -->

<nz-drawer class="mb:hidden flex" [nzBodyStyle]="{ overflow: 'auto'}" [nzWidth]="700" [nzVisible]="isOpenDrawer" nzTitle="Đánh giá về nhà trọ" [nzClosable]="true" [nzMaskClosable]="true" (nzOnClose)="closeDrawer()">
    <ng-container *nzDrawerContent>
        <div class="max-w-custom mx-auto px-2">
            <div class="w-full py-3 relative ">
                <div class="flex justify-between pb-5 border-b border-[#e7e7e7]">
                    <div class="flex gap-2">
                        <div class="w-10 h-10 flex justify-center items-center bg-[#003B95] rounded-md rounded-bl-none">
                            <span class="text-[18px] font-semibold text-white">{{motel.TotalStar.toFixed(1)}}</span>
                        </div>
                        <div class="text-[15px] font-normal text-custom-color-black-light flex items-end gap-1">
                            <span>{{motel.ListRatings.length}}</span>
                            <span>đánh giá</span>
                        </div>
                    </div>
                    <div>
                        <button type="button" (click)="handleShowRatingPopup()" class="mb:mr-4 mr-0 px-3 py-1 border border-custom-bg-hover-blue rounded-[5px] text-[14px] font-semibold text-custom-color-blue hover:bg-custom-hv-color-blue cursor-pointer">
                            Viết đánh giá
                        </button>
                    </div>
                </div>
                <div class="mt-5 w-full">
                    <ul class="w-full flex flex-col gap-3 text-custom-color-black">
                        <li class="py-3 border-b border-[#e7e7e7]" *ngFor="let rating of ListRatings">
                            <div class="flex justify-between gap-1">
                                <div class="flex gap-1 mb:w-[200px] ">
                                    <img src="http://localhost:3000/resources/img-users/{{rating.UserAvatar}}" alt="" class="mb:w-[50px] mb:h-[50px] w-[40px] h-[40px] object-cover rounded-full" style="border:  1px solid #babbbd;">
                                    <div class="mb:flex hidden"><span class="text-[15px] font-semibold "> {{rating.UserName}}</span></div>
                                </div>
                                <div class="flex justify-between mb:w-[calc(100%-200px)] flex-1 mb:pr-5 pr-0">
                                    <div class="flex-1 mb:pl-0 pl-2 ">
                                        <div class="flex mb:hidden"><span class="text-[15px] font-semibold "> {{rating.UserName}}</span></div>
                                        <span class="text-[13px] text-custom-color-black-light">Ngày đánh giá: {{rating.CreateAt}}</span>
                                        <p class="text-[15px]">{{rating.Comment}} </p>
                                    </div>
                                    <div class="ml-3 mb:w-9 mb:min-w-9 mb:h-9 w-8 min-w-8 h-8 flex justify-center items-center bg-[#003B95] rounded-md rounded-bl-none">
                                        <span class="text-[15px] font-semibold text-white">{{rating.Star | number:'1.1-1'}}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-full h-[100vh] fixed top-0 left-0 overflow-hidden z-20 flex justify-center items-center bg-[rgba(0,0,0,0.05)]" *ngIf="isRatingPopupShow" (click)="isRatingPopupShow=false">
            <div class="w-[350px] bg-white rounded-md p-1 ntt-shadow-box text-custom-color-black-light" (click)="stopPropagation($event)">
                <div class="w-full flex justify-end items-center">
                    <div class="p-1 cursor-pointer" (click)="isRatingPopupShow=false">
                        <i class='bx bx-x text-[22px] hover:text-custom-color-blue'></i>
                    </div>
                </div>
                <form class="w-full" [formGroup]="formRating">
                    <div class="w-full text-center">Đánh giá của bạn về nhà trọ</div>
                    <div class="w-full flex justify-center items-center py-2">
                        <nz-rate formControlName="star" [nzCount]="5"></nz-rate>
                    </div>
                    <div class="w-full p-2 ">
                        <textarea id="commentInput" rows="4" nz-input formControlName="comment" placeholder="Bình luận của bạn..." spellcheck="false" class="text-custom-color-black-light"></textarea>
                    </div>
                    <div class="w-full flex justify-center items-center mt-2 px-2 mb-4">
                        <button type="button" class="w-full py-[5px] bg-[#1392ff] rounded-sm text-white font-medium hover:bg-custom-color-blue">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</nz-drawer>