<div class="content_wrapper w-full text-base px-2">
    <div class="max-w-custom mx-auto  ">
        <nav>
            <ul class="flex items-end  h-[70px]">
                <li class="w-1/3 h-full">
                    <a class="ntt-a-router" routerLink="/client/home/detail-motel/:id/overall" routerLinkActive="router-active">
                        <span class="text-[16px]">Tổng quan về nhà trọ</span>
                    </a>
                </li>
                <li class="w-1/3 h-full">
                    <a class="ntt-a-router" routerLink="/client/home/detail-motel/:id/rooms" routerLinkActive="router-active">
                        <span class="text-[16px]">Xem các phòng trọ</span>
                    </a>
                </li>
                <li class="w-1/3 h-full">
                    <a class="ntt-a-router" routerLink="/client/home/detail-motel/:id/rating" routerLinkActive="router-active">
                        <span class="text-[16px]">Đánh giá của khách (12)</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="main_content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> <!--End content wrapper-->
