label {
  pointer-events: none; /* Để label không chặn sự kiện click trên input */
  color: #9ca3af; /* Màu nhạt cho label khi không có focus và không có giá trị */
  transition: color 0.3s ease, top 0.3s ease;
}

/* Khi input được focus hoặc có giá trị, label sẽ di chuyển lên trên và đổi màu */
input:focus + label,
input:not(:placeholder-shown) + label {
  top: -16px; /* Điều chỉnh giá trị top cho label khi focus hoặc có giá trị */
  color: #3b82f6; /* Màu cho label khi focus hoặc có giá trị */
}

/* Khi input có giá trị và không focus, label sẽ giữ màu nhạt nhưng vẫn ở vị trí cao */
input:not(:focus):not(:placeholder-shown) + label {
  color: #9ca3af; /* Màu nhạt cho label khi không focus nhưng có giá trị */
  top: -16px; /* Giữ label ở vị trí cao */
  left: 10px; /* Đảm bảo left không thay đổi */
}

/* Đảm bảo label không bị dịch chuyển sang trái khi không focus */
input:focus + label,
input:not(:placeholder-shown) + label {
  left: 16px; /* Đảm bảo left không thay đổi */
  padding: 0 3px; /* Đặt padding là 0 để không làm dịch chuyển */
}

.input-invalid {
  border-color: #ff0000;
}

.label-invalid {
  color: #ff0000 !important;
}
.masseage-error {
  color: #ff0000;
  font-size: 12px;
}

.custom-tabset .ant-tabs-nav-list {
  display: flex;
  width: 100%; /* Đảm bảo thanh tab chiếm 100% chiều rộng */
}

.custom-tabset .ant-tabs-tab {
  flex: 1; /* Mỗi tab sẽ chiếm đều 50% của thanh điều hướng */
  text-align: center; /* Căn giữa nội dung của tab */
}

/* Ghi đè màu nền khi trình duyệt tự động điền dữ liệu */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important; /* Nền trắng tùy chỉnh */
  -webkit-text-fill-color: #000 !important; /* Màu chữ đen */
}

/* Để chắc chắn trong tất cả các trình duyệt */
input:-moz-autofill {
  box-shadow: 0 0 0 30px white inset !important;
  color: #000 !important;
}


::ng-deep div:where(.swal2-container) h2:where(.swal2-title) {
  padding: 0px 
}