label {
  pointer-events: none; /* Để label không chặn sự kiện click trên input và textarea */
  color: #9ca3af; /* Màu nhạt cho label khi không có focus và không có giá trị */
  transition: color 0.3s ease, top 0.3s ease;
}

/* Khi input hoặc textarea được focus hoặc có giá trị, label sẽ di chuyển lên trên và đổi màu */
input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  top: -16px; /* Điều chỉnh giá trị top cho label khi focus hoặc có giá trị */
  color: #3b82f6; /* Màu cho label khi focus hoặc có giá trị */
}

/* Khi input hoặc textarea có giá trị và không focus, label sẽ giữ màu nhạt nhưng vẫn ở vị trí cao */
input:not(:focus):not(:placeholder-shown) + label,
textarea:not(:focus):not(:placeholder-shown) + label {
  color: #9ca3af; /* Màu nhạt cho label khi không focus nhưng có giá trị */
  top: -16px; /* Giữ label ở vị trí cao */
  left: 10px; /* Đảm bảo left không thay đổi */
}

/* Đảm bảo label không bị dịch chuyển sang trái khi không focus */
input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  left: 16px; /* Đảm bảo left không thay đổi */
  padding: 0 3px; /* Đặt padding là 0 để không làm dịch chuyển */
}


.input-invalid {
  border-color: #ff0000;
}

.label-invalid {
  color: #ff0000 !important;
}
.masseage-error {
  color: #ff0000;
  font-size: 12px;
}