<div class="w-full p-2">
    <div class="w-full flex justify-between">
        <div class="flex items-center bg-slate-100 w-[350px] p-1 px-3 rounded-md">
            <i class='bx bx-search text-[25px] p-1'></i>
            <input type="text" placeholder="Tìm kiếm" class="w-full outline-none bg-transparent text-[17px]">
        </div>
        <div>
            <button>
                <i class='bx bx-plus' ></i>
                <span>Thêm mới</span>
           </button>
        </div>
    </div>
</div>