.truncate-description {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Hiển thị tối đa 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Thêm dấu "..." */
    white-space: normal; /* Đảm bảo dòng được bọc lại */
  }
