<div class="header_bar max-w-custom mx-auto px-4 pt-1 pb-2 h-[60px] flex justify-between bg-custom-bg-blue ">
    <div class="header_main flex justify-center items-center">
        <div class="header_logo ">
            <a routerLink="/client/home/content" class="text-2xl font-bold text-white">QNMotelMap</a>
        </div>
    </div><!-- End header main-->
    <div class="header_control flex items-center gap-3 pl-4 min-w-[378px]">
        <a routerLink="/client/home/map" class="font-semibold px-3 py-3 hover:bg-[#1a4f9f] rounded-[3px] text-white">Xem trên bảng đồ</a>
        <div class="flex items-center gap-3">
            <a href="" class="ntt-custom-button"><span>Đăng ký</span></a>
            <a href="" class="ntt-custom-button"><span>Đăng nhập</span></a>
        </div>
    </div><!-- End header control -->
</div><!-- End header bar -->

