<div class="content_wrapper w-full text-base">
    <div class="recommend_motels max-w-custom mx-auto ">
        <div class="w-full px-1">
            <div class="text-2xl font-sans font-bold text-custom-color-black ">Những nhà trọ gợi ý cho bạn</div>
        </div>
        <div class="w-full p-3 mt-5 relative min-w-[700px] ">
            <ul class="w-full flex flex-nowrap gap-4 ntt-custom-ul relative  ">
                <li class="flex-1 max-w-[calc(25%-12px)] min-w-[calc(25%-12px)] rounded-xl mb-2 cursor-pointer">
                    <div class="w-full relative " >
                        <a routerLink="/client/home/detail-motel/:id/overall" class="w-full">
                            <div class="w-full aspect-[4/3.2]"> <!-- Giữ tỷ lệ 4:3 -->
                                <img class="w-full h-full rounded-tl-xl rounded-tr-xl object-cover" src="assets/images/img-motel.jpg" alt="Hình ảnh về nhà trọ">
                            </div>
                            <div class="info p-2 ntt-shadow-motel-card rounded-bl-xl rounded-br-xl flex flex-col gap-2">
                                <div>
                                    <div class="ntt-custom-name-motel text-[16px] font-semibold text-custom-color-black ">
                                        Tên nhà trọ
                                    </div>
                                    <div class="ntt-custom-address-motel text-[12px] font-normal text-custom-color-black-light">
                                        79 Biên Cương, Ngô Mây
                                    </div>
                                </div>
                                <div class="flex gap-2">
                                    <div class="w-6 h-6 flex justify-center items-center bg-[#003B95] rounded-[3px] rounded-bl-none">
                                        <span class="text-[12px] font-semibold text-white">5.0</span>
                                    </div>
                                    <div class="ntt-custom-address-motel text-[12px] font-normal text-custom-color-black-light ">
                                        <span>34</span> 
                                        <span> đánh giá 0</span>
                                    </div>
                                </div>
                                <div class="pb-1">
                                    <div class="text-[16px] font-semibold text-custom-color-black text-right"> 1.123.333 VND</div>
                                </div>
                            </div>
                        </a>
                        <div title="Lưu">
                            <button class="w-9 h-9 favorite-motel absolute top-3 right-3 flex justify-center items-center rounded-full bg-white hover:bg-[#f2f2f2] group">
                                <i class="bx bx-heart text-[20px] text-custom-color-black-light group-hover:text-[red]"></i>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="flex-1 max-w-[calc(25%-12px)] min-w-[calc(25%-12px)] rounded-xl mb-2 cursor-pointer">
                    <div class="w-full relative " >
                        <a href="" class="w-full">
                            <div class="w-full aspect-[4/3.2]"> <!-- Giữ tỷ lệ 4:3 -->
                                <img class="w-full h-full rounded-tl-xl rounded-tr-xl object-cover" src="assets/images/img-motel.jpg" alt="Hình ảnh về nhà trọ">
                            </div>
                            <div class="info p-2 ntt-shadow-motel-card rounded-bl-xl rounded-br-xl flex flex-col gap-2">
                                <div>
                                    <div class="ntt-custom-name-motel text-[16px] font-semibold text-custom-color-black ">
                                        Tên nhà trọ
                                    </div>
                                    <div class="ntt-custom-address-motel text-[12px] font-normal text-custom-color-black-light">
                                        79 Biên Cương, Ngô Mây
                                    </div>
                                </div>
                                <div class="flex gap-2">
                                    <div class="w-6 h-6 flex justify-center items-center bg-[#003B95] rounded-[3px] rounded-bl-none">
                                        <span class="text-[12px] font-semibold text-white">5.0</span>
                                    </div>
                                    <div class="ntt-custom-name-motel text-[12px] font-normal text-custom-color-black-light ">
                                        <span>34</span> 
                                        <span> đánh giá</span>
                                    </div>
                                </div>
                                <div class="pb-1">
                                    <div class="text-[16px] font-semibold text-custom-color-black text-right"> 1.123.333 VND</div>
                                </div>
                            </div>
                        </a>
                        <div title="Lưu">
                            <button class="w-9 h-9 favorite-motel absolute top-3 right-3 flex justify-center items-center rounded-full bg-white hover:bg-[#f2f2f2] group">
                                <i class="bx bx-heart text-[20px] text-custom-color-black-light group-hover:text-[red]"></i>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="flex-1 max-w-[calc(25%-12px)] min-w-[calc(25%-12px)] rounded-xl mb-2 cursor-pointer">
                    <div class="w-full relative " >
                        <a href="" class="w-full">
                            <div class="w-full aspect-[4/3.2]"> <!-- Giữ tỷ lệ 4:3 -->
                                <img class="w-full h-full rounded-tl-xl rounded-tr-xl object-cover" src="assets/images/img-motel.jpg" alt="Hình ảnh về nhà trọ">
                            </div>
                            <div class="info p-2 ntt-shadow-motel-card rounded-bl-xl rounded-br-xl flex flex-col gap-2">
                                <div>
                                    <div class="ntt-custom-name-motel text-[16px] font-semibold text-custom-color-black ">
                                        Tên nhà trọ
                                    </div>
                                    <div class="ntt-custom-address-motel text-[12px] font-normal text-custom-color-black-light">
                                        79 Biên Cương, Ngô Mây
                                    </div>
                                </div>
                                <div class="flex gap-2">
                                    <div class="w-6 h-6 flex justify-center items-center bg-[#003B95] rounded-[3px] rounded-bl-none">
                                        <span class="text-[12px] font-semibold text-white">5.0</span>
                                    </div>
                                    <div class="ntt-custom-name-motel text-[12px] font-normal text-custom-color-black-light ">
                                        <span>34</span> 
                                        <span> đánh giá</span>
                                    </div>
                                </div>
                                <div class="pb-1">
                                    <div class="text-[16px] font-semibold text-custom-color-black text-right"> 1.123.333 VND</div>
                                </div>
                            </div>
                        </a>
                        <div title="Lưu">
                            <button class="w-9 h-9 favorite-motel absolute top-3 right-3 flex justify-center items-center rounded-full bg-white hover:bg-[#f2f2f2] group">
                                <i class="bx bx-heart text-[20px] text-custom-color-black-light group-hover:text-[red]"></i>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="flex-1 max-w-[calc(25%-12px)] min-w-[calc(25%-12px)] rounded-xl mb-2 cursor-pointer">
                    <div class="w-full relative " >
                        <a href="" class="w-full">
                            <div class="w-full aspect-[4/3.2]"> <!-- Giữ tỷ lệ 4:3 -->
                                <img class="w-full h-full rounded-tl-xl rounded-tr-xl object-cover" src="assets/images/img-motel.jpg" alt="Hình ảnh về nhà trọ">
                            </div>
                            <div class="info p-2 ntt-shadow-motel-card rounded-bl-xl rounded-br-xl flex flex-col gap-2">
                                <div>
                                    <div class="ntt-custom-name-motel text-[16px] font-semibold text-custom-color-black ">
                                        Tên nhà trọ
                                    </div>
                                    <div class="ntt-custom-address-motel text-[12px] font-normal text-custom-color-black-light">
                                        79 Biên Cương, Ngô Mây
                                    </div>
                                </div>
                                <div class="flex gap-2">
                                    <div class="w-6 h-6 flex justify-center items-center bg-[#003B95] rounded-[3px] rounded-bl-none">
                                        <span class="text-[12px] font-semibold text-white">5.0</span>
                                    </div>
                                    <div class="ntt-custom-name-motel text-[12px] font-normal text-custom-color-black-light ">
                                        <span>34</span> 
                                        <span> đánh giá</span>
                                    </div>
                                </div>
                                <div class="pb-1">
                                    <div class="text-[16px] font-semibold text-custom-color-black text-right"> 1.123.333 VND</div>
                                </div>
                            </div>
                        </a>
                        <div title="Lưu">
                            <button class="w-9 h-9 favorite-motel absolute top-3 right-3 flex justify-center items-center rounded-full bg-white hover:bg-[#f2f2f2] group">
                                <i class="bx bx-heart text-[20px] text-custom-color-black-light group-hover:text-[red]"></i>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="flex-1 max-w-[calc(25%-12px)] min-w-[calc(25%-12px)] rounded-xl mb-2 cursor-pointer">
                    <div class="w-full relative " >
                        <a href="" class="w-full">
                            <div class="w-full aspect-[4/3.2]"> <!-- Giữ tỷ lệ 4:3 -->
                                <img class="w-full h-full rounded-tl-xl rounded-tr-xl object-cover" src="assets/images/img-motel.jpg" alt="Hình ảnh về nhà trọ">
                            </div>
                            <div class="info p-2 ntt-shadow-motel-card rounded-bl-xl rounded-br-xl flex flex-col gap-2">
                                <div>
                                    <div class="ntt-custom-name-motel text-[16px] font-semibold text-custom-color-black ">
                                        Tên nhà trọ
                                    </div>
                                    <div class="ntt-custom-address-motel text-[12px] font-normal text-custom-color-black-light">
                                        79 Biên Cương, Ngô Mây
                                    </div>
                                </div>
                                <div class="flex gap-2">
                                    <div class="w-6 h-6 flex justify-center items-center bg-[#003B95] rounded-[3px] rounded-bl-none">
                                        <span class="text-[12px] font-semibold text-white">5.0</span>
                                    </div>
                                    <div class="ntt-custom-name-motel text-[12px] font-normal text-custom-color-black-light ">
                                        <span>34</span> 
                                        <span> đánh giá</span>
                                    </div>
                                </div>
                                <div class="pb-1">
                                    <div class="text-[16px] font-semibold text-custom-color-black text-right"> 1.123.333 VND</div>
                                </div>
                            </div>
                        </a>
                        <div title="Lưu">
                            <button class="w-9 h-9 favorite-motel absolute top-3 right-3 flex justify-center items-center rounded-full bg-white hover:bg-[#f2f2f2] group">
                                <i class="bx bx-heart text-[20px] text-custom-color-black-light group-hover:text-[red]"></i>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="flex-1 max-w-[calc(25%-12px)] min-w-[calc(25%-12px)] rounded-xl mb-2 cursor-pointer">
                    <div class="w-full relative " >
                        <a href="" class="w-full">
                            <div class="w-full aspect-[4/3.2]"> <!-- Giữ tỷ lệ 4:3 -->
                                <img class="w-full h-full rounded-tl-xl rounded-tr-xl object-cover" src="assets/images/img-motel.jpg" alt="Hình ảnh về nhà trọ">
                            </div>
                            <div class="info p-2 ntt-shadow-motel-card rounded-bl-xl rounded-br-xl flex flex-col gap-2">
                                <div>
                                    <div class="ntt-custom-name-motel text-[16px] font-semibold text-custom-color-black ">
                                        Tên nhà trọ
                                    </div>
                                    <div class="ntt-custom-address-motel text-[12px] font-normal text-custom-color-black-light">
                                        79 Biên Cương, Ngô Mây
                                    </div>
                                </div>
                                <div class="flex gap-2">
                                    <div class="w-6 h-6 flex justify-center items-center bg-[#003B95] rounded-[3px] rounded-bl-none">
                                        <span class="text-[12px] font-semibold text-white">5.0</span>
                                    </div>
                                    <div class="ntt-custom-name-motel text-[12px] font-normal text-custom-color-black-light ">
                                        <span>34</span> 
                                        <span> đánh giá</span>
                                    </div>
                                </div>
                                <div class="pb-1">
                                    <div class="text-[16px] font-semibold text-custom-color-black text-right"> 1.123.333 VND</div>
                                </div>
                            </div>
                        </a>
                        <div title="Lưu">
                            <button class="w-9 h-9 favorite-motel absolute top-3 right-3 flex justify-center items-center rounded-full bg-white hover:bg-[#f2f2f2] group">
                                <i class="bx bx-heart text-[20px] text-custom-color-black-light group-hover:text-[red]"></i>
                            </button>
                        </div>
                    </div>
                </li>
                
                
            </ul><!-- End list recommend motels  -->
            <div class="w-full absolute z-10 top-[30%] left-0 flex justify-between pointer-events-none">
                <button class="ntt-custom-button-prev-next flex justify-center items-center" aria-label="Trước đó" appClickPrevRecommendMotel>
                    <i class='bx bx-chevron-left text-[20px] text-custom-color-black-light'></i>
                </button>
                <button class="ntt-custom-button-prev-next flex justify-center items-center" aria-label="Kế tiếp" appClickNextRecommendMotel>
                    <i class='bx bx-chevron-right text-[20px] text-custom-color-black-light'></i>
                </button>
            </div>
        </div>
    </div> <!-- End recommend motels area-->
    <div class="classify-ward-commune-wrapper max-w-custom mx-auto mt-5 pb-10">
        <div class="w-full px-1">
            <div class="text-2xl font-sans font-bold text-custom-color-black ">Những nhà trọ theo phường xã</div>
        </div>
        <div class="w-full p-2 mt-4 relative mb-20">
            <ul class="grid ml:grid-cols-5 md:grid-cols-4 sm:grid-cols-3 grid-cols-3  gap-4">
                <li class="flex flex-col text-[14px] font-medium" *ngFor="let wardCommune of listMotelsByWardCommune">
                    <a class="h-[20px]  text-custom-color-black hover:underline" (click)="handleSearch(wardCommune.WardCommune)">{{wardCommune.WardCommune}}</a>
                    <span class="h-[17px] font-normal text-custom-color-black-light">{{wardCommune.Count}} nhà trọ</span>
                </li>
            </ul>
        </div>
    </div> <!-- End classify ward commune wrapper -->
</div> <!-- End content wrapper -->
