@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
@layer utilities {
    .ntt-bg-custom-gradient {
      background-image: linear-gradient(to bottom, #003B95 3% 60%, 18%, #FFFFFF 60% 100%);
    }
    .hover-shadow-custom:hover {
        box-shadow: 0 0 0 1px red;
    }
    .ntt-shadow-searchbox{
        box-shadow: 0 5px 8px -2px #dae1ec;
    }
    .ntt-shadow-input-suggest{
        box-shadow:0px 2px 16px 0px rgba(26,26,26,.24)
    }
    .ntt-truncate {
        white-space: nowrap;      
        overflow: hidden;        
        text-overflow: ellipsis;
    }
    .ntt-custom-width{
        min-width: calc((100% - (12 * 3)px)  / 4);
    }
    .ntt-shadow-motel-card{
        box-shadow: 0px 2px 8px 0px rgba(26,26,26,.16)
    }
    .ntt-custom-ul{
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
        box-sizing: border-box;
        scroll-snap-type: x mandatory;
    }
    .ntt-custom-name-motel{
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .ntt-custom-address-motel{
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .ntt-shadow-button{
        box-shadow: 0px 2px 8px 0px rgba(26,26,26,.16);
    }
}
/*  login - register */
.ntt-custom-button {
    @apply px-3 py-1 bg-white rounded-[3px] text-[14px] font-semibold text-custom-color-blue hover:bg-custom-hv-color-blue;
}
.ntt-field-search{
    @apply ml:min-w-[235px] h-[54px] flex-1 rounded-[5px] bg-white p-2 hover-shadow-custom transition-shadow duration-100 relative ;
}
.ntt-custom-p{
    @apply w-full ml:max-w-[282px]  max-w-none px-2 py-1 text-[14px] font-semibold text-custom-color-black-light flex justify-between ntt-truncate ;
}
.ntt-custom-icon{
    @apply text-[24px] pl-1 text-custom-color-black-light ;
}
.ntt-custom-button-prev-next{
    @apply ntt-shadow-button w-9 h-9 rounded-full bg-white pointer-events-auto  hover:bg-[#f2f2f2] 
}
