@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family:  BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    box-sizing: border-box;
}
@layer utilities {
    .ntt-bg-custom-gradient {
      background-image: linear-gradient(to bottom, #003B95 3% 60%, 18%, #FFFFFF 60% 100%);
    }
    .hover-shadow-custom:hover {
        box-shadow: 0 0 0 1px red;
    }
    .ntt-shadow-searchbox{
        box-shadow: 0 5px 8px -2px #dae1ec;
    }
    .ntt-shadow-input-search{
        box-shadow: 0 5px 8px 0px rgba(26,26,26,.24)
    }
    .ntt-shadow-input-search-focus{
        box-shadow: 0 0px 0px 2.5px #529ce680;
    }
    .ntt-shadow-input-suggest{
        box-shadow:0px 2px 16px 0px rgba(26,26,26,.24)
    }
    .ntt-truncate {
        white-space: nowrap;      
        overflow: hidden;        
        text-overflow: ellipsis;
    }
    .ntt-custom-width{
        min-width: calc((100% - (12 * 3)px)  / 4);
    }
    .ntt-shadow-motel-card{
        box-shadow: 0px 2px 8px 0px rgba(26,26,26,.16)
    }
    .ntt-shadow-motel-card-hover{
        box-shadow: 0px 2px 8px 0px rgba(141, 195, 240, 0.664)
    }
    .ntt-custom-ul{
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
        box-sizing: border-box;
        scroll-snap-type: x mandatory;
    }
    .ntt-custom-name-motel{
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .ntt-custom-address-motel{
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .ntt-custom-description{
        -webkit-line-clamp: 5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .ntt-shadow-button{
        box-shadow: 0px 2px 8px 0px rgba(26,26,26,.16);
    }
    .ntt-shadow-box{
        box-shadow: 0 1px 2px 1px #dae1ec;
    }
    .ntt-shadow-image{
        box-shadow: 0 0px 0px 3px #299ffa;
    }
}

.ntt-custom-button {
    @apply px-3 py-1 bg-white rounded-[3px] text-[14px] font-semibold text-custom-color-blue hover:bg-custom-hv-color-blue;
}
.ntt-field-search{
    @apply ml:min-w-[235px] h-[54px] flex-1 rounded-[5px] bg-white p-2 hover-shadow-custom transition-shadow duration-100 relative ;
}
.ntt-custom-p{
    @apply w-full ml:max-w-[282px]  max-w-none px-2 py-1 text-[14px] font-semibold text-custom-color-black-light flex justify-between ntt-truncate ;
}
.ntt-custom-icon{
    @apply text-[24px] pl-1 text-custom-color-black-light ;
}
.ntt-custom-button-prev-next{
    @apply ntt-shadow-button w-9 h-9 rounded-full bg-white pointer-events-auto  hover:bg-[#f2f2f2] 
}
/*filter field */
.ntt-custom-filter-field{
    @apply w-full flex gap-2 py-[5px] 
}
.ntt-custom-content-filter{
    @apply h-[20px] flex justify-between text-[14px] text-custom-color-black 
}

/*detail motel*/
.ntt-a-router{
    @apply p-4 h-full flex justify-center items-center border-b-2 text-custom-color-black hover:bg-[#f2f2f2]
}

/*overall motel*/
.ntt-li-convenient{
    @apply border border-[#e7e7e7] p-2 rounded-md flex justify-center items-center
}


